# This is an example of report template
# Customize it!

entityName: "LVMH"
slug: "test 1"
id: "0"
date: "Snapshot 2014"
background:
  assetName: 'bg-1'
  overlay: false
execsumTitle: "Group's financial results"
# execsumNote: "* And you should start to <strong>customize</strong> it"

dashboards:
  default: 0
  search: "Recherchez dans les dashboards..."

slideInfos: {}
