settings:
  comparison:
    description: "Sur tous les écrans de comparaison, comparer avec :"
    values: [
      "Par défaut"
      "Entity A"
      "Entity B"
      "Entity C"
    ]
    default: "Par défaut"

glossary:
  title: 'Glossaire'
  terms: [
    term: "Effectifs"
    meaning: "Effectifs inscrits sous contrats à la fin de la période"
  ]

sharingOptions: true
comments: true
slidePdfEnabled: true
captureChartEnabled: true

slides: [
  {
    level: 0
    id: 0
  }
  {
    level: 1
    title: "Effectifs"
    id: 10
  }
  {
    level: 1
    title: "Absentéisme"
    id: 20
  }
  {
    level: 3
    parent_id: 10
    title: "Evolution des effectifs"
    commentary: "Cliquez pour observer ce que contient chaque BU"

    chartOptions:
      data:
        query:
          domain: "0_101"
      chartType: "waterfall"
      value: "value"
      label: "label"
      sublabel: "label_sublevel"
      units:
        value: " salariés"
      source: "Source interne"
    id: 101
  }
  {
    level: 3
    title: "Effectifs par entreprise"
    parent_id: 10
    source: "Source interne"
    commentary: "Findus France emploie le plus de salariés"
    filters:
      "bottom-right":
        on: "breakdown"
        type: "buttons"
        order:
          custom: [
            "Total"
            "Cadres"
            "TAM"
            "Employés"
          ]
    chartOptions:
      data:
        query:
          domain: "0_102"


      chartType: "horizontalBarchart"
      sparklines:
        prefix: "sparkline"
        legend: "Évolution<br>sur 3 ans"
        unit: " "
      label: "label"
      value: "value"
      variation: "evolution"
      variationLegend: "par rapport à N-1"


      units:
        value:
          breakdown:
            Total: " Salariés"
            Cadres: " Cadres"
            TAM: " TAM"
            Employés: " Employés"
        evolution: " %"



    id: 102
  }
  {
    level: 3
    title: "Répartition des effectifs"
    parent_id: 10
    commentary: "Age: L'âge moyen est de 43 ans<br>Ancienneté: L'ancienneté moyenne est de 14 ans"

    filters:
      "bottom-right":
        on: "breakdown"
        type: "buttons"
        order:
          custom: [
            "âge"
            "Ancienneté"
          ]
    chartOptions:
      data:
        query:
          domain: "0_103"
      chartType: "horizontalBarchart"
      label: "label"
      value: "value"
      variation: "evolution"
      variationLegend: "par rapport à Décembre 2014"


      units:
        value: " salariés"
        evolution: " %"

      source: "Source interne"

    id: 103
  }

  {
    level: 3
    title: "Répartition géographique"
    commentary: "Répartition géographique du nombre de salariés"
    filters:
      "bottom-right":
        on: "kpi"
        type: "buttons"
        datasets: ['zone_data']
    parent_id: 10

    drill:
      template:
        id: '<%= id %>'
        level: '<%= level %>'
        topojson: '<%= level %>_<%= id %>.topojson.json'
        data_file: "<%= level %>_<%= id %>"
        label: "<%= ZONE_NAME %>"
      default:
        id: 'france'
        topojson: "france_regions.topojson.json"
        level: 'france'
        label: "France"
        data_file: "france_region"

    datasets:
      zone_data:
        query:
          domain: "france_region"

    chartOptions:
      chartType: "mapchart"
      legend: true
      zones:
        drill: true
        drillMaxDepth: 1
        label: "ZONE_NAME"
        dataset: 'zone_data'
        shapes: "<%= drill.topojson %>"
        join:
          shapes: "id"
          data: "id"
        color: "value"

    id: 105
  }
  {
    level: 3
    title: "Absentéisme dans le temps et par motif"
    parent_id: 20
    commentary: "L'absentéisme est en baisse depuis 2013"
    charts: [
      {
        data:
          query:
            domain: "0_201_0"
          precision: 1

        chartType: "linechart"
        units:
          value: " %"
          date: ""

        crossfilter:
          on: "date"
          datasets: [1]
        groups: "label"
        date: "date"
        value: "value"
        size: 0.25
        style: "secondary"
        cr: 4
        id: 0
      }
      {
        data:
          query:
            domain: "0_201_1"
          precision: 1

        chartType: "horizontalBarchart"
        value: "value"
        sort: "desc"
        label: "label"
        units:
          value: "%"

        size: 0.75
        id: 1
      }
    ]

    id: 201
  }
  {
    level: 3
    title: "Absentéisme Maladie <br> & AT par CSP"
    parent_id: 20
    filters:
      "bottom-right":
        on: "breakdown"
        type: "buttons"
        order:
          custom: [
            "Toutes CSP"
            "Cadres"
            "TAM"
            "Employés"
          ]
    chartOptions:
      data:
        query:
          domain: "0_202"

        precision: 1
      chartType: "barchart"
      value: "value"
      label: "label"
      groups: "center"
      units:
        value: " %"
      legend: true

    id: 202
  }
  {
    level: 3
    title: "Fréquence vs Gravité"
    filters:
      "bottom-right":
        on: "breakdown"
        type: "buttons"
    parent_id: 20
    chartOptions:
      data:
        query:
          domain: "0_209"
      chartType: "bubblechart"
      label: "label"
      legend:
        cy: "Fréquence"
        cx: "Gravité"
        r: "salariés"
      units:
        cx: " jours"
        cy: " %"
        r: " salariés"

      cy: "Fréquence"
      cx: "Gravité"
      r: "effectif"
      color: "color"
      withBenchmark: true

    id: 209
  }
  {
    level: 3
    title: "Absentéisme par DG"
    parent_id: 20
    commentary: "Les BU 5 et 2 ont un taux d'absentéisme supérieur à la moyenne nationale"

    chartOptions:
      data:
        query:
          domain: "0_203"
          year: 2015
      chartType: "leaderboardCenteredAverage"
      groups: "groups"
      value: "value"
      label: "label"
      variation: "evolution"
      variationLegend: "variation sur 1 an"
      reverse: true
      # sparklines:
      #   orderDates: true
      #   value: "value"
      #   legend: "Variation depuis 2012"
      #   joins: [
      #     "label"
      #   ]
      #   date: "year"
      #   unit: '%'
      #   data:
      #     query:
      #       domain: "0_203"
      units:
        value: " %"
        evolution: " pts"
      sort: 'desc'
      average:
        values: [
            value: 4
          ]
      averageText: "Moyenne nationnale"
    id: 203
  }
  {
    level: 3
    title: "Répartition géographique"
    commentary: "Nb de salariés absents par cause d'absentéisme"
    parent_id: 20
    filters:
      "bottom-right":
        on: "breakdown"
        type: "buttons"
        order:
          custom:[
            "Maladie"
            "Invalidité"
            "Accident Travail"
            "Maternité"
          ]
    chartOptions:
      data:
        query:
          domain: "0_rep_geo"
      chartType: "carto"
      join: "CODE_DEPT"
      label: "NOM_DEPT"
      value: "value"
      kpi: "breakdown"
      peers: " "
      levels: 4
      projection: "departement"
      legend: true
      cartoFiles:
        " ": "depts-details-topojson.json"
      units:
        "value": " Salariés"
    id: 204
  }
  {
    level: 3
    title: "Absentéisme Maladie <br> & AT par CSP"
    parent_id: 20
    filters:
      "bottom-right":
        on: "breakdown"
        type: "buttons"

    chartOptions:
      data:
        query:
          domain: "0_204"
        precision: 1
        order:
          by: "label"
          custom: [
            "Toutes Directions",
            "DEXI",
            "DOA",
            "DEXI & DOA",
          ]
      chartType: "barchart"
      filters:
        "upper-middle":
          on: "upper"
          type: "buttons"
      value: "value"
      label: "label"
      groups: "center"
      units:
        value: " %"

      legend: true

    id: 205
  }

]
