settings:
  comparison:
    description: "Sur tous les écrans de comparaison, comparer avec :"
    values: [
      "Par défaut"
      "Entity A"
      "Entity B"
      "Entity C"
    ]
    default: "Par défaut"

glossary:
  title: 'Glossaire'
  terms: [
    term: "Effectifs"
    meaning: "Effectifs inscrits sous contrats à la fin de la période"
  ]

sharingOptions: true
comments: true


home:
  skipToReport:0

slides: [
  {
    level: 0
    id: 0
  }
  {
    level: 1
    title: "Effectifs"
    id: 10
  }
  {
    level: 1
    title: "Absentéisme"
    id: 20
  }
  {
    level: 3
    parent_id: 10
    title: "Evolution des effectifs"
    commentary: "Cliquez pour observer ce que contient chaque BU"

    chartOptions:
      data:
        query:
          domain: "0_101"
      chartType: "waterfall"
      value: "value"
      label: "label"
      sublabel: "label_sublevel"
      units:
        value: " salariés"
      source: "Source interne"
    id: 101
  }
  {
    level: 3
    title: "Effectifs par entreprise"
    parent_id: 10
    commentary: "Findus France emploie le plus de salariés"

    filters:
      "bottom-right":
        on: "breakdown"
        type: "buttons"
        order: 
          custom: [
            "Total"
            "Cadres"
            "TAM"
            "Employés"
          ]
    
    chartOptions:
      data:
        file:
          name: "<%= report.id %>_102"
       
          
      chartType: "horizontalBarchart"
      sparklines:
        prefix: "sparkline"
        legend: "Évolution<br>sur 3 ans"
        unit: " "
      label: "label"
      value: "value"
      variation: "evolution"
      variationLegend: "par rapport à N-1"


      units:
        value: 
          breakdown:
            Total: " Salariés"
            Cadres: " Cadres"
            TAM: " TAM"
            Employés: " Employés"
        evolution: " %"

      source: "Source interne"

    id: 102
  }
  {
    level: 3
    title: "Répartition des effectifs"
    parent_id: 10
    commentary: {
      "âge": "L'âge moyen est de 43 ans"
      "Ancienneté": "L'ancienneté moyenne est de 14 ans"
    }
    filters:
      "bottom-right":
        on: "breakdown"
        type: "buttons"
        order:
          custom: [
            "âge"
            "Ancienneté"
          ]
    
    chartOptions:
      data:
        file:
          name: "<%= report.id %>_103"
       
          
      chartType: "horizontalBarchart"
      label: "label"
      value: "value"
      variation: "evolution"
      variationLegend: "par rapport à Décembre 2014"


      units:
        value: " salariés"
        evolution: " %"

      source: "Source interne"

    id: 103
  }
  {
    level: 3
    title: "Répartition géographique"
    commentary: "Cliquez et zommer sur la carte pour plus de détail"
    parent_id: 10
    chartOptions:
      data:
        file:
          name: "<%= report.id %>_rep_geo"
      chartType: "carto"
      join: "CODE_DEPT"
      label: "NOM_DEPT"
      value: "value"
      kpi: "breakdown"
      peers: " "
      levels: 4
      projection: "departement"
      cartoFiles:
        " ": "depts-details-topojson.json"
      units:
        "value": " Salariés"
    id: 104
  }
  {
    level: 3
    title: "Absentéisme dans le temps et par motif"
    parent_id: 20
    commentary: "L'absentéisme est en baisse depuis 2013"

    charts: [
      {
        data:
          file:
            name: "<%= report.id %>_201_0"
          precision: 1

        chartType: "linechart"
        units:
          value: " %"
          date: ""

        crossfilter:
          on: "date"
          datasets: [1]
        groups: "label"
        date: "date"
        value: "value"
        size: 0.25
        style: "secondary"
        cr: 4
        id: 0
      }
      {
        data:
          file:
            name: "<%= report.id %>_201_1"
          precision: 1

        chartType: "horizontalBarchart"
        value: "value"
        sort: "desc"
        label: "label"
        units:
          value: "%"
          
        size: 0.75
        id: 1
      }
    ]
    
    id: 201
  }
  {
    level: 3
    title: "Absentéisme Maladie <br> & AT par CSP"
    parent_id: 20
    filters:
      "bottom-right":
        on: "breakdown"
        type: "buttons"
        order: 
          custom: [
            "Toutes CSP"
            "Cadres"
            "TAM"
            "Employés"
          ]
    chartOptions:
      data:
        file:
          name: "<%= report.id %>_202"
        precision: 1
      chartType: "barchart"
      value: "value"
      label: "label"
      groups: "center"
      units:
        value: " %"
      legend: true

    id: 202
  }
  {
    level: 3
    title: "Fréquence vs Gravité"
    filters:
      "bottom-right":
        on: "breakdown"
        type: "buttons"
    parent_id: 20
    chartOptions:
      data:
        query:
          domain: "0_209"
      chartType: "bubblechart"
      label: "label"
      legend:
        cy: "Fréquence"
        cx: "Gravité"
        r: "salariés"
      units:
        cx: " jours"
        cy: " %"
        r: " salariés"

      cy: "Fréquence"
      cx: "Gravité"
      r: "effectif"
      color: "color"
      withBenchmark: true

    id: 209
  }
  {
    level: 3
    title: "Absentéisme par DG"
    parent_id: 20
    commentary: "Seule la DGRPO a un taux d'absentéisme supérieur à la moyenne nationale"

    chartOptions:
      data:
        file:
          name: "<%= report.id %>_203"
      chartType: "leaderboardCenteredAverage"
      groups: "groups"
      value: "value"
      label: "label"
      variation: "evolution"
      variationLegend: "variation sur 1 an"
      reverse: true
      sparklines:
        prefix: "sparkline"
        legend: "Évolution<br>depuis 2012"
        unit: "%"
      units:
        value: " %"
        evolution: " pts"

      sort: 'desc'
      average: 6.1
      averageText: "Moyenne nationnale"


    id: 203
  }
  {
    level: 3
    title: "Absentéisme Maladie <br> & AT par CSP"
    parent_id: 20
    filters:
      "bottom-right":
        on: "breakdown"
        type: "buttons"
    
    chartOptions:
      data:
        file:
          name: "<%= report.id %>_204"
        precision: 1
        order:
          by: "label"
          custom: [
            "Toutes Directions",
            "DEXI",
            "DOA",
            "DEXI & DOA",
          ]
      chartType: "barchart"
      filters:
        "upper-middle":
          on: "upper"
          type: "buttons"
      value: "value"
      label: "label"
      groups: "center"
      units:
        value: " %"

      legend: true

    id: 204
  }
  # {
  #   level: 3
  #   title: "Classement<br>Performance"

  #   kpi:
  #     unit: " visits"
  #     badge:
  #       comment: "Juillet 2014"

  #   parent_id: 201
  #   filters:
  #     "bottom-right":
  #       on: "breakdown"
  #       type: "buttons"
  #   chartOptions:
  #     data:
  #       file:
  #         name: "<%= report.id %>_30202"
  #     chartType: "horizontalBarchart"
  #     groups: "group"
  #     label: "Retailer name"
  #     value: "value"
  #     filters:
  #       "upper-right":
  #         on: "Branch level 2"
  #         type: "dropdown"
  #         reset: "All"
  #         withSize: true

  #     units:
  #       GLA: "points de vente"
  #       value:
  #         breakdown:
  #           Promotion: ""
  #           "Points de vente": ""
  #           "Croissance du marché": "%"
  #           Sales: "%"

  #     legend: true
  #     sort: "desc"
  #     meta: [
  #       "GLA"
  #       "Lease end"
  #     ]
  #     showAverage: true

  #   id: 30202
  # }

  # {
  #   level: 3
  #   title: "Notation<br>par segments"

  #   kpi:
  #     unit: " "
  #     badge:
  #       comment: " note moyenne"

  #   parent_id: 201
  #   filters:
  #     "bottom-right":
  #       on: "Breakdown"
  #       type: "buttons"

  #   chartOptions:
  #     data:
  #       file:
  #         name: "<%= report.id %>_30203"
  #     chartType: "leaderboardCenteredAverage"
  #     groups: "group"
  #     value: "value"
  #     label: "label"
  #     variation: "ecart2011"
  #     variationLegend: "Écart significatif<br>// 2011"
  #     units:
  #       value: ""
  #       ecart2011: ""
  #       Effectif: " personnes"

  #     sort: 'desc'
  #     average: 8.2

  #   id: 30203
  # }
  # {
  #   level: 3
  #   title: "Performance<br>par évènements"

  #   kpi:
  #     unit: " %"
  #     badge:
  #       comment: "accueil"

  #   parent_id: 201
  #   chartOptions:
  #     data:
  #       file:
  #         name: "<%= report.id %>_32204"
  #     chartType: "horizontalBarchart"
  #     value: "Pourcentage"
  #     variation: "evolution"
  #     variationLegend: "Écart<br>année passée"
  #     label: "Evenements"
  #     units:
  #       Pourcentage: " %"
  #       evolution: "%"

  #     sort: "desc"
  #     sparklines:
  #       prefix: "sparkline"
  #       legend: "Évolution<br>sur 8 mois"
  #       unit: "%"
  #     showAverage: true
  #     meta: "Effectif"

  #   id: 32204
  # }
  # {
  #   level: 3
  #   title: "Satisfaction spot<br>& évolution"

  #   kpi:
  #     unit: " "
  #     badge:
  #       comment: "Q3 2014"

  #   parent_id: 201
  #   charts: [
  #     {
  #       data:
  #         file:
  #           name: "<%= report.id %>_32205_0"
  #       chartType: "linechart"
  #       units:
  #         value: " %"
  #         date: ""

  #       crossfilter:
  #         on: "date"
  #       groups: "Centre"
  #       date: "date"
  #       value: "value"
  #       size: 0.25
  #       style: "secondary"
  #       cr: 4
  #       id: 0
  #     }
  #     {
  #       data:
  #         file:
  #           name: "<%= report.id %>_32205_1"
  #       chartType: "leaderboardCenteredAverage"
  #       value: "value"
  #       label: "Centre"
  #       variation: "evolution"
  #       variationLegend: "Écart // 2011"
  #       units:
  #         value: " %"
  #         evolution: " %"
  #         Effectif: " répondants"

  #       meta: "Effectif"
  #       average: 77
  #       packs: "group"
  #       size: 0.75
  #       id: 1
  #     }
  #   ]
  #   id: 32205
  # }
  # {
  #   level: 3
  #   title: "Market breakdown<br>& évolution"

  #   kpi:
  #     unit: " "
  #     badge:
  #       comment: "sur 6 mois"

  #   parent_id: 201
  #   filters:
  #     "bottom-right":
  #       on: "breakdown"
  #       type: "buttons"
  #       datasets: [1]

  #   charts: [
  #     {
  #       data:
  #         file:
  #           name: "<%= report.id %>_32206_0"
  #       chartType: "linechart"
  #       units:
  #         nb: " visites"
  #         date: ""
  #       events: [
  #         {
  #           date: "2014-08"
  #           label: "cote.nacre"
  #           name: "Ouverture de Leroy Merlin"
  #         }
  #       ]
  #       legend: true
  #       crossfilter:
  #         on: "date"
  #         datasets: [1]

  #       groups: "poi_id"
  #       date: "date"
  #       value: "nb"
  #       selection:
  #         serie: "poi_id"
  #       size: 0.4
  #       style: "secondary no-spots scale-colors"
  #       cr: 4
  #       id: 0
  #     }
  #     {
  #       data:
  #         file:
  #           name: "<%= report.id %>_32206_1"
  #       chartType: "stackedBarchart"
  #       groups: "group"
  #       label: "poi_id"
  #       time: "date"
  #       meta: ["total"]
  #       value: "nb"
  #       units:
  #         nb: " visites"

  #       visualSelection: true
  #       reorderOnSelection: true
  #       legend: true
  #       selection:
  #         label: "poi_id"
  #       size: 0.7
  #       style: "gray-bg vertical-padding"
  #       id: 1
  #     }
  #   ]
  #   id: 32206
  # }
  # {
  #   level: 3
  #   title: "Historical<br>Sales"

  #   kpi:
  #     unit: " unit"
  #     badge:
  #       comment: "my label"

  #   parent_id: 202
  #   chartOptions:
  #     data:
  #       file:
  #         name: "<%= report.id %>_32104"
  #       date:
  #         selector: 'date'
  #         format: '%m-%y'

  #     chartType: "linechart"
  #     units:
  #       value: "M d'unités"
  #       date: "'s sales"
  #     events: [
  #       {
  #         date: "11-12"
  #         label: "Chaussures de ville"
  #         name: "Nouvelle collection"
  #       }
  #       {
  #         date: "02-14"
  #         label: "Baskets"
  #         name: "Soldes d'hiver"
  #       }
  #     ]
  #     value: "value"
  #     groups: "center"
  #     date: "date"
  #     legend: true

  #   id: 32104
  # }
  # {
  #   level: 3
  #   title: "Business Cycles"
  #   parent_id: 202
  #   filters:
  #     "bottom-right":
  #       on: "level_0"
  #       type: "buttons"
  #       order:
  #         custom: [
  #           "Données brutes"
  #           "Business Cycles"
  #         ]
  #   chartOptions:
  #     chartType: "linechart"
  #     data:
  #       file:
  #         name: "<%= report.id %>_32105"
  #       date:
  #         selector: 'level_1'
  #         format: '%Y-%m-%d'
  #     units:
  #       "value": "%"
  #     value: "value"
  #     groups: "variable"
  #     date: "level_1"
  #     legend: true

  #   id: 32105
  # }
  # {
  #   level: 3
  #   title: "Detrending"
  #   parent_id: 202
  #   filters:
  #     "bottom-right":
  #       on: "breakdown"
  #       type: "buttons"
  #       order:
  #         custom: [
  #           "Données brutes"
  #           "Trend"
  #           "Detrended"
  #         ]
  #   chartOptions:
  #     chartType: "linechart"
  #     data:
  #       file:
  #         name: "<%= report.id %>_32106"
  #       date:
  #         selector: 'index'
  #         format: '%Y-%m-%d'
  #     units:
  #       "value": ""
  #     value: "value"
  #     groups: "variable"
  #     date: "index"
  #     legend: true

  #   id: 32106
  # }
  # {
  #   level: 3
  #   title: "Sales<br>by market"

  #   parent_id: 202
  #   chartOptions:
  #     chartType: "linechart"
  #     data:
  #       file:
  #         name: "<%= report.id %>_32107"
  #       date:
  #         selector: 'date'
  #         format: '%m-%y'

  #     units:
  #       value:
  #         type:
  #           units: " units"
  #           revenue: " $"

  #     value: "value"
  #     groups: "game"
  #     date: "date"
  #     legend: true

  #     filters:
  #       "upper-middle":
  #         on: "type"
  #         type: "buttons"
  #         order:
  #           custom: [
  #             "units"
  #             "revenue"
  #           ]

  #   filters:
  #     "bottom-right":
  #       on: "market"
  #       type: "buttons"
  #       order:
  #         custom: [
  #           "All"
  #           "iOS"
  #           "Google Play"
  #         ]

  #   id: 32107
  # }
  # {
  #   level: 3
  #   title: "Résumé des Objectifs"
  #   parent_id: 200
  #   filters:
  #     "bottom-right":
  #       type: "buttons"
  #       on: "breakdown"

  #   chartOptions:
  #     data:
  #       file:
  #         name: "<%= report.id %>_30204"
  #     chartType: "bulletChart"
  #     packs: "group"
  #     meta: [""]
  #     label: "label"
  #     value: "value"
  #     target: "Objectif siège"
  #     comparison: "Last year"
  #     units:
  #       value: "%"

  #   id: 30204
  # }
  # {
  #   level: 3
  #   title: "Découpage<br>Par Catégorie"

  #   kpi:
  #     unit: "k €"
  #     badge:
  #       comment: "CA Jaude"

  #   parent_id: 200

  #   filters:
  #     "bottom-right":
  #       type: "buttons"
  #       on: "breakdown"

  #   chartOptions:
  #     data:
  #       order:
  #         by: "fréquence"
  #         custom: [
  #           "au moins 1 fois/mois"
  #           "plusieurs fois/an"
  #           "1 fois/an"
  #           "moins souvent"
  #           "jamais"
  #         ]
  #       query:
  #         domain: "market-breakdown"
  #         pays: "<%= report.entityName %>"
  #     chartType: "stackedBarchart"
  #     groups: "fréquence"
  #     meta: ["clients"]
  #     label: "catégorie"
  #     value: "part"
  #     units:
  #       clients: "répondants"
  #       part: "%"
  #     visualSelection: true
  #     reorderOnSelection: true

  #     unstackable: true

  #     outliers: [
  #       {
  #         label: "18-24 ans 2011"
  #         group: "moins souvent"
  #       }
  #       {
  #         label: "36-45 ans"
  #         group: "moins souvent"
  #       }
  #       {
  #         label: "56-65 ans"
  #         group: "jamais"
  #       }
  #       {
  #         label: "Agglo 1 2014"
  #         group: "plusieurs fois/an"
  #       }
  #       {
  #         label: "Agglo 3"
  #         group: "plusieurs fois/an"
  #       }
  #       {
  #         label: "Grande Ville 2"
  #         group: "1 fois/an"
  #       }
  #       {
  #         label: "Ville moyenne 4"
  #         group: "Au moins 1 fois/an"
  #       }
  #     ]
  #     legend: true

  #   id: 30206
  # }
  # {
  #   level: 3
  #   title: "Affluence"

  #   kpi:
  #     unit: " min"
  #     badge:
  #       comment: " 18h-20h"

  #   parent_id: 200
  #   chartOptions:
  #     filters:
  #       "upper-middle":
  #         on: "breakdown"
  #         type: "buttons"
  #     data:
  #       file:
  #         name: "<%= report.id %>_32100"
  #       order:
  #         by: "label"
  #         custom: [
  #           "Lundi",
  #           "Mardi",
  #           "Mercredi",
  #           "Jeudi",
  #           "Vendredi",
  #           "Samedi",
  #           "Dimanche",
  #           "6h-10h",
  #           "10h-12h",
  #           "12h-14h",
  #           "14h-18h",
  #           "18h-20h",
  #           "20-22h"
  #         ]
  #     chartType: "horizontalBarchart"
  #     groups: "center"
  #     value: "value"
  #     label: "label"
  #     legend:
  #       daytime: "Average dwell time"
  #       weekday: "Average dwell time"

  #     units:
  #       value: " min"

  #   id: 32100
  # }
  # {
  #   level: 3
  #   title: "Conversion"

  #   kpi:
  #     unit: "%"
  #     badge:
  #       comment: " Accueil"

  #   parent_id: 200
  #   chartOptions:
  #     data:
  #       file:
  #         name: "<%= report.id %>_32102"
  #     chartType: "horizontalBarchart"
  #     value: "Pourcentage"
  #     packs: "pack"
  #     groups: "group"
  #     sort: "desc"
  #     label: "Evenements"
  #     units:
  #       Pourcentage: " %"

  #     meta: "Effectif"

  #   id: 32102
  # }
  # {
  #   level: 3
  #   title: "Musées<br>visités"

  #   kpi:
  #     unit: ""
  #     badge:
  #       comment: " en moyenne"

  #   parent_id: 200
  #   chartOptions:
  #     data:
  #       file:
  #         name: "<%= report.id %>_32101"
  #     chartType: "barchart"
  #     value: "NB visit"
  #     label: "NB store"
  #     groups: "center"
  #     units:
  #       "NB visit": "% of visitors"

  #   id: 32101
  # }

  # {
  #   level: 3
  #   title: "Origine des<br>visiteurs"

  #   parent_id: 204
  #   chartOptions:
  #     data:
  #       file:
  #         name: "<%= report.id %>_34202"
  #     chartType: "map"
  #     join: "IRIS"
  #     joinMap: "DCOMIRIS"
  #     label: "IRIS"
  #     peers: "city"
  #     compLabel: "Total visites"
  #     filters: [
  #       on: "poi_id"
  #       type: "dropdown"
  #     ,
  #       on: "category"
  #       type: "buttons"
  #     ]
  #     value: "value"
  #     time: "month_part"
  #     meta: ["population", "mean_income"]
  #     cartoFile: "IRIS_Basse_Normandie"
  #     units:
  #       value: "%"
  #       total: ""
  #       population: " habitants"
  #       mean_income: " € revenu/hab"
  #       home: " % visites du centre"
  #       work: " % visites du centre"
  #       value_comp: " "

  #     markers:
  #       coteNacre:
  #         lat: 49.209109
  #         lng: -0.364416
  #         title: "Côte de Nacre"
  #         focus: true
  #         draggable: false
  #       mondeville2:
  #         lat: 49.16449
  #         lng: -0.296978
  #         title: "Mondeville 2"
  #         focus: true
  #         draggable: false
  #       rivesOrne:
  #         lat: 49.176541
  #         lng: -0.351599
  #         title: "Les Rives de l'Orne"
  #         focus: true
  #         draggable: false
  #       valStClair:
  #         lat: 49.205794
  #         lng: -0.324685
  #         title: "Val Saint Clair"
  #         focus: true
  #         draggable: false

  #     kpiSelector: "kpi"
  #     legend: true
  #     center:
  #       lat: 49.16864
  #       lng: -0.35928
  #       zoom: 12
  #       peer: "CAEN"

  #   id: 34202
  # }
  # {
  #   level: 3
  #   title: "World Map"
  #   parent_id: 204
  #   chartOptions:
  #     data:
  #       file:
  #         name: "<%= report.id %>_34204"
  #     chartType: "carto"
  #     join: "Country Code"
  #     label: "Country Name"
  #     value: "Value"
  #     peers: " "
  #     levels: 4
  #     projection: "world"
  #     kpi: "kpi"
  #     cartoFiles:
  #       " ": "world-topojson.json"

  #     units:
  #       "Value": "Mds €"
  #   id: 34204
  # }
  # {
  #   level: 3
  #   title: "Trafic<br>geolocalisé"

  #   kpi:
  #     unit: "k visits"
  #     badge:
  #       comment: "1er étage"

  #   filters:
  #     "bottom-right":
  #       on: "breakdown"
  #       type: "buttons"
  #   parent_id: 204
  #   chartOptions:
  #     data:
  #       file:
  #         name: "<%= report.id %>_34200"
  #     chartType: "carto"
  #     levels: 4
  #     join: "EntityHand"
  #     value: "value"
  #     label: "Retailer name"
  #     peers: "Branch level 2"
  #     projection: "plan"

  #     meta: [
  #       "GLA"
  #       "Lease end"
  #     ]

  #     cartoFiles:
  #       "Floor 0": "MAP_CS_0_topojson.json"
  #       "Floor 1": "MAP_CS_1_topojson.json"

  #     units:
  #       "Shop Front Traffic": ""
  #       "Destination Traffic": "%"
  #       "Shop Front Conversion": "%"
  #       Visits: " visits"
  #       GLA: "m²"

  #     filters:
  #       'arrow-selector':
  #         on: 'floor'

  #   id: 34200
  # }

  # {
  #   level: 3
  #   title: "Contribution<br>à la satisfaction"

  #   kpi:
  #     unit: " %"

  #   filters:
  #     "bottom-right":
  #       on: "type"
  #       type: "buttons"

  #   parent_id: 206
  #   chartOptions:
  #     data:
  #       file:
  #         name: "<%= report.id %>_35201"
  #     chartType: "bubblechart"
  #     legend: true
  #     label: "label"
  #     units:
  #       cx: "%"
  #       cy: "%"
  #       r: " répondants"

  #     cx: "Satisfaction"
  #     cy: "Contribution"
  #     r: "effectif"
  #     color: "evolution"

  #   id: 35201
  # }
  # {
  #   level: 3
  #   title: "Taux de <br>Pénétration"

  #   kpi:
  #     unit: "%"
  #     badge:
  #       comment: "tous segments"

  #   filters:
  #     "bottom-right":
  #       on: "breakdown"
  #       type: "buttons"
  #   parent_id: 206

  #   chartOptions:
  #     data:
  #       file:
  #         name: "<%= report.id %>_36200"
  #     chartType: "bubblechart"
  #     label: "label"
  #     legend:
  #       cy: "Promotion"
  #       cx: "Ancienneté"
  #       r: "salariés"
  #     units:
  #       cx: " mois"
  #       cy: " jours"
  #       r: " salariés"

  #     cx: "Ancienneté"
  #     cy: "Promotion"
  #     r: "effectif"
  #     color: "color"
  #     withBenchmark: true

  #   id: 36200
  # }
  # {
  #   level: 3
  #   title: "Canaux de<br>communication"
  #   parent_id: 206
  #   filters:
  #     "bottom-right":
  #       on: "marche"
  #       type: "buttons"


  #   chartOptions:
  #     data:
  #       file:
  #         name: "<%= report.id %>_36202"
  #     chartType: "forceDirectedChart"
  #     label: "comportement"
  #     value: "pourcentage"
  #     links: [
  #       source: "Tel/mails exclusivement"
  #       target: "Tous les canaux"
  #     ,
  #       source: "Face à face exclusivement"
  #       target: "Tous les canaux"
  #     ,
  #       source: "Canaux digitaux exclusivement"
  #       target: "Tous les canaux"
  #     ,
  #       source: "Tel/mails exclusivement"
  #       target: "Tel/mails et canaux digitaux"
  #     ,
  #       source: "Tel/mails exclusivement"
  #       target: "Face à face et téléphone"
  #     ,
  #       source: "Face à face exclusivement"
  #       target: "Face à face et téléphone"
  #     ,
  #       source: "Face à face exclusivement"
  #       target: "Face à face et canaux digitaux"
  #     ,
  #       source: "Canaux digitaux exclusivement"
  #       target: "Face à face et canaux digitaux"
  #     ,
  #       source: "Canaux digitaux exclusivement"
  #       target: "Tel/mails et canaux digitaux"
  #     ]

  #     meta: [
  #       "pourcentage"
  #       "effectif"
  #     ]

  #     units:
  #       pourcentage: " %"
  #       "pourcentage groupe": " %"
  #       "effectif": " clients"
  #       "effectif groupe": " clients"

  #     groups: "groupe"
  #     groupsMeta: [
  #       "pourcentage groupe"
  #       "effectif groupe"
  #     ]

  #     selection:
  #       label: "canal"

  #     legend: true

  #   id: 36202
  # }
  # {
  #   level: 3
  #   title: "Free cash flow"

  #   kpi:
  #     unit: " M€"
  #     badge:
  #       comment: "Juin 2014"

  #   parent_id: 207
  #   chartOptions:
  #     data:
  #       file:
  #         name: "<%= report.id %>_37100"
  #     chartType: "waterfall"
  #     value: "2013"
  #     label: [
  #       "label"
  #       "label_sublevel"
  #     ]
  #     units:
  #       "2013": " k€"

  #   id: 37100
  # }
  # {
  #   level: 3
  #   title: "Resultat Op.<br>et marge"

  #   kpi:
  #     unit: "%"
  #     badge:
  #       comment: "Marge opé."

  #   parent_id: 207
  #   filters:
  #     "bottom-right":
  #       on: "Activité"
  #       type: "buttons"

  #   chartOptions:
  #     data:
  #       file:
  #         name: "<%= report.id %>_37101"
  #     chartType: "barlinechart"
  #     units:
  #       CA: " M€"
  #       Marge: "%"
  #     meta: [
  #       "Var CA"
  #       "Var Marge"
  #     ]
  #     date: "date"
  #     kpi:
  #       kpi: [
  #         {
  #           type: "line"
  #           label: "Marge"
  #         }
  #         {
  #           type: "bar"
  #           label: "CA"
  #         }
  #       ]
  #     value: "value"
  #     label: "label"
  #     legend: 'minimal'

  #   id: 37101
  # }
  # {
  #   level: 3
  #   title: "Repartition<br>par branche"

  #   kpi:
  #     unit: " Milliards €"
  #     badge:
  #       comment: "C.A. S1 2014"

  #   filters:
  #     "bottom-right":
  #       on: "metric"
  #       type: "buttons"

  #   parent_id: 207
  #   chartOptions:
  #     data:
  #       file:
  #         name: "<%= report.id %>_37102"
  #     chartType: "slopegraph"
  #     label: "Activite"
  #     meta: ["proportion"]
  #     evolution: "evolution"
  #     value: "value"
  #     date: "annee"
  #     units:
  #       evolution: "%"
  #       proportion: "%"

  #   id: 37102
  # }
  # {
  #   level: 3
  #   title: "retours Clients"

  #   kpi:
  #     unit: " verbatims"
  #     badge:
  #       comment: "sept 2014"

  #   parent_id: 20
  #   filters:
  #     "bottom-right":
  #       on: "breakdown"
  #       type: "buttons"
  #   chartOptions:
  #     data:
  #       file:
  #         name: "<%= report.id %>_30205"
  #     chartType: "verbatim"
  #     categories: [
  #       "Theme"
  #       "Agence"
  #       "Segment"
  #       "Age"
  #     ]
  #     verbatimSelector: "Verbatims"

  #   id: 30205
  # }
  # {
  #   level: 3
  #   title: "Chiffres-clefs"

  #   chartOptions:
  #     data:
  #       file:
  #         name: "<%= report.id %>_40206"
  #     chartType: "score-card"
  #     variation: "evolution"
  #     variationLegend: "Compared with last year"
  #     value: "Value"
  #     label: "Label"
  #     packs: "Group"
  #     sort: "desc"
  #     units:
  #       value: [
  #         unit: " To"
  #         where:
  #           Label: "Volumétrie totale"
  #       ,
  #         unit: " %"
  #         where:
  #           Label: "Mutualisés"
  #       ,
  #         unit: " %"
  #         where:
  #           Label: "Stock"
  #       ,
  #         unit: " %"
  #         where:
  #           Label: "Souscription"
  #       ,
  #         unit: " %"
  #         where:
  #           Label: "Consommation"
  #       ]
  #       evolution: [
  #         unit: "%"
  #       ,
  #         unit: " pts"
  #         where:
  #           Label: "Notes"
  #       ]

  #   parent_id: 20
  #   id: 40206
  # }
]
