name: "Projet RH"
entityName: "{{ report_name }}"
id: "0"
date: "10/2015"
background:
  id: 4
  overlay: false
execsumTitle: "Suivi RH Groupe"

dashboards:
  search: "Recherchez par BU"

slideInfos:
  30201:
    kpi:
      badge:
        icon: "evolution_down"
        sentiment: "worse"
      value: "1 400"

    commentaire:
      default: "This is a generic comment"
    average:
      Conversion: 17
      Satisfaction: 7
      Traffic: 403234
      Visites: 28969

  30202:
    kpi:
      badge:
        icon: "evolution_up"
        sentiment: "better"
      value: "321"

    commentaire:
      default: "This is a generic comment"
    average:
      Promotion: 439046
      Sales: 7.7
      "Croissance du marché": 12
      "Points de vente": 3981

  30203:
    kpi:
      value: "8.2"
    commentaire:
      default: "This is a generic comment"

  32205:
    kpi:
      value: "77"

  32204:
    kpi:
      value: "86"

  30204:
    kpi:
      value: "86"
    commentaire:
      default: "This is a generic comment"

  30205:
    kpi:
      value: "435"
      badge:
        icon: "evolution_down"


  30206:
    kpi:
      value: "435"
      badge:
        icon: "evolution_down"
        sentiment: "worse"

  32100:
    kpi:
      value: "56"
      badge:
        icon: "evolution_up"
        sentiment: "better"

    commentaire:
      default: "This is a generic comment"

  32102:
    kpi:
      value: "86"
      badge:
        icon: "evolution_down"
        sentiment: "worse"


  32101:
    kpi:
      value: "1,3"
      badge:
        icon: "evolution_up"
        sentiment: "better"

    commentaire:
      default: "This is a generic comment"

  34200:
    kpi:
      value: "23"

  34201:
    kpi:
      value: "86"

  32104:
    commentaire:
      default: "This is a generic comment"

  36200:
    kpi:
      value: "31"
    commentaire:
      cspsexe: "Une différence entre les CSP plus marquée chez les hommes"
      sexe: "Une fréquence d'arrêt portée par les femmes <br>mais une durée d'arrêt presque identique à celle des hommes"
      csp: "Plus le statut s'élève moins les arrêts sont longs"
      default: "Si les trentenaires s'arrêtent davantage que les autres, <br>les quinquas ont les arrêts les plus longs"
      agesexe: "Près de la moitié des femmes agées de 30 à 39 ans <br>se sont arrêtées au moins une fois dans l'année"

  37100:
    kpi:
      value: "35.5"
      badge:
        icon: "evolution_up"
        sentiment: "better"

    commentaire:
      default: "Bonne performance opérationnelle et maitrise des Opex"

  37101:
    kpi:
      value: "4.0"
      badge:
        icon: "evolution_up"
        sentiment: "better"

    commentaire:
      default: "Niveau toujours élevé de la marge opérationnelle à 4,0 % du CA en légère baisse de 20 pbs dans un environnement concurrentiel accru"

  37102:
    kpi:
      value: "5.4"
      badge:
        icon: "evolution_down"
        sentiment: "worse"

    commentaire:
      default: "Des branches qui progressent quand d'autres déclinent. Au total chute de 1.1% de l'activité"
