
'default': 1
'entityName': '{{ Name }}'
'id': '{{ index }}'
'report': '{{ report_id }}'
'entityGroup': '{{ Group }}'
'categories': [
  {
    'kpis': [ {
      'name': 'Overview'
      'source': '2015, source Smart Toucan'
      'slide': 10101
      'type': 'heatmap'
      'id': 100
      'chartOptions':
        'y': 'pays'
        'x': 'voiture'
        'data': 'query':
          'pays': '$in': [
            'Nord-Est'
            'Sud'
            'Paris Nord'
            'Grand-Ouest'
          ]
          'domain': 'heatmap_home'
        'sentiment': 'value':
          'domain': [ 'target' ]
          'range': [
            'negative'
            'positive'
          ]
        'value': 'value'
    } ]
    'name': 'Synthèse indicateurs'
  }
  {
    'kpis': [
      {
        'comment': '<%=\' \' + evolution + \' vs 2016\'%>'
        'compute': 'evolution': '(value - comparison)/comparison'
        'name': 'Chiffre d\'affaires cumulé'
        'sentiment': 'evolution':
          'domain': [ 0 ]
          'range': [
            'negative'
            'positive'
          ]
        'type': 'value-dynamic'
        'precision':
          'evolution': '+,.2%'
          'value': ',.1f'
        'value': 'value'
        'slide': 10101
        'badge': 'evolution'
        'data':
          'comparison':
            'query': [ { '$match':
              'domain': 'dashboard_data'
              'Region': '<%= dashboard.entityName %>' } ]
            'field': 'target_CA'
          'value':
            'query': [ { '$match':
              'domain': 'dashboard_data'
              'Region': '<%= dashboard.entityName %>' } ]
            'field': 'Chiffre d\'affaires cumulé'
        'id': 0
        'unit': ' M€'
      }
      {
        'src': 'images/simply.jpg'
        'type': 'media-img'
      }
      {
        'comment': '<%=\' \' + evolution + \' vs 2016\'%>'
        'compute': 'evolution': '(value - comparison)/comparison'
        'name': 'Chiffre d\'affaires du mois'
        'sentiment': 'evolution':
          'domain': [ 0 ]
          'range': [
            'negative'
            'positive'
          ]
        'type': 'value-dynamic'
        'precision':
          'evolution': '+,.2%'
          'value': ',.1f'
        'value': 'value'
        'slide': 10101
        'badge': 'evolution'
        'data':
          'comparison':
            'query': [ { '$match':
              'domain': 'dashboard_data'
              'Region': '<%= dashboard.entityName %>' } ]
            'field': 'target_CA_mois'
          'value':
            'query': [ { '$match':
              'domain': 'dashboard_data'
              'Region': '<%= dashboard.entityName %>' } ]
            'field': 'Chiffre d\'affaires du mois'
        'id': 1
        'unit': ' M€'
      }
    ]
    'name': 'Chiffre d\'affaires'
  }
  {
    'kpis': [
      {
        'slide': 10101
        'type': 'line'
        'name': 'Clients'
        'chartOptions':
          'date': 'date'
          'units': 'value': ' M'
          'data':
            'query':
              'domain': 'dashboard_line'
              'type': 'client'
              'Region': 'Total France'
            'precision': 'value': ',.1f'
          'value': 'value'
      }
      {
        'slide': 10101
        'type': 'line'
        'name': 'Articles'
        'chartOptions':
          'date': 'date'
          'units': 'value': ' M'
          'data':
            'query':
              'domain': 'dashboard_line'
              'type': 'articles'
              'Region': 'Total France'
            'precision': 'value': ',.1f'
          'value': 'value'
      }
    ]
    'name': 'Indicateurs macros'
  }
  {
    'kpis': [
      {
        'comment': '+1,2 M€ vs mois précédent'
        'name': 'Marge nette'
        'sentiment': 'better'
        'type': 'value-dynamic'
        'precision':
          'evolution': '+,.2%'
          'value': ',.1f'
        'value': 'value'
        'slide': 20201
        'badge': 'bullet'
        'data': 'value':
          'query': [ { '$match':
            'domain': 'dashboard_data'
            'Region': '<%= dashboard.entityName %>' } ]
          'field': 'Marge nette'
        'id': 5
        'unit': ' M€'
      }
      {
        'comment': '+0.3 k€ vs mois précédent'
        'name': 'Frais décaissés'
        'sentiment': 'worse'
        'type': 'value-dynamic'
        'precision':
          'evolution': '+,.2%'
          'value': ',.1f'
        'value': 'value'
        'slide': 20205
        'badge': 'bullet'
        'data': 'value':
          'query': [ { '$match':
            'domain': 'dashboard_data'
            'Region': '<%= dashboard.entityName %>' } ]
          'field': 'Frais décaissés'
        'id': 5
        'unit': ' k€'
      }
      {
        'comment': '+0.87 M€ vs mois précédent'
        'name': 'Cashflow brut'
        'sentiment': 'better'
        'type': 'value-dynamic'
        'precision':
          'evolution': '+,.2%'
          'value': ',.1f'
        'value': 'value'
        'slide': 20203
        'badge': 'bullet'
        'data': 'value':
          'query': [ { '$match':
            'domain': 'dashboard_data'
            'Region': '<%= dashboard.entityName %>' } ]
          'field': 'Cashflow brut'
        'id': 5
        'unit': ' M€'
      }
      {
        'comment': '-1,2 k€ vs mois précédent'
        'name': 'Cashflow net'
        'sentiment': 'worse'
        'type': 'value-dynamic'
        'precision':
          'evolution': '+,.2%'
          'value': ',.1f'
        'value': 'value'
        'slide': 20203
        'badge': 'bullet'
        'data': 'value':
          'query': [ { '$match':
            'domain': 'dashboard_data'
            'Region': '<%= dashboard.entityName %>' } ]
          'field': 'Cashflow net'
        'id': 5
        'unit': ' k€'
      }
      {
        'src': 'images/simply2.jpg'
        'type': 'media-img'
      }
    ]
    'name': 'Indicateurs d\'exploitation'
  }
]
