settings:
  comparison:
    description: "Sur tous les écrans de comparaison, comparer avec :"
    values: [
      "Par défaut"
      "Entity A"
      "Entity B"
      "Entity C"
    ]
    default: "Par défaut"

glossary: [
  term: "Data"
  meaning: "An android from the 24th century who serves on the star ship Enterprise.<br><em>Data kicked some borg ass and then fed his cat lunch.</em>"
,
  term: "Hipsterectomy"
  meaning: "The removal or dismissal of what is largely accepted to be cool or trendy. The process of de-hipsterizing someone or something."
,
  term: "Graph"
  meaning: "A slang term for a sketching of what someone plans on tagging. graffiti. <br><em>NOT A CHART!</em>"
]

sharingOptions: true
comments: true

home:
  skipToReport: 0

slides: [
  {
    level: 0
    id: 0
  }
  {
    level: 1
    title: "Chapitre 1"
    id: 10
  }
  {
    level: 2
    title: "Sous-Chapitre 1"
    parent_id: 10
    id: 200
  }
  {
    level: 3
    title: "My first<br>chart"

    parent_id: 200
    filters:
      "bottom-right":
        on: "breakdown"
        type: "buttons"
    chartOptions:
      data:
        file:
          name: "horizontal_barchart"
          type: "sample"
      chartType: "horizontalBarchart"
      groups: "group"
      label: "Retailer name"
      value: "value"
      filters:
        "upper-right":
          on: "Branch level 2"
          type: "dropdown"
          reset: "All"
          withSize: true

      units:
        GLA: "points de vente"
        value:
          breakdown:
            Visites: ""
            Traffic: ""
            Satisfaction: "%"
            Conversion: "%"

      legend: true
      sort: "desc"
      meta: [
        "GLA"
        "Lease end"
      ]
      showAverage: true
      source: "Tucana Sample Data"

    id: 30200
  }
]
