name: "Retail France"
entityName: "{{ Report }}"
id: "{{ index }}"
date: 'Février 2017'
'dashboards': 'search': 'Recherchez par Division / Boutique'
'id': '0'
'background':
  'assetName': 'bg-1'
  'overlay': false
