id: "0"
name: "Company"
slug: "test"
date: "Données au 31/10/12"
entityName: "Retail France"
background:
  assetName: 'bg-1'
  overlay: false

dashboards:
  search: "Recherchez par Division"

slideInfos: {}
