DATA_SOURCES: [
  {
    'domain': 'full_CS'
    'type': 'excel'
    'sheetname': null
    'cache': true
    'file': 'Full output CS_final.xlsx'
  },
  {
    'domain': 'full_QT'
    'type': 'excel'
    'sheetname': null
    'cache': true
    'file': 'Full output QT_final.xlsx'
  },
  {
    'domain': 'global_CS_QT'
    'type': 'excel'
    'sheetname': null
    'cache': true
    'file': 'KPI_SC_CS_QT.xlsx'
  },
  {
    'domain': 'jointure_CS'
    'type': 'excel'
    'sheetname': null
    'cache': true
    'file': 'Jointures_CS.xlsx'
  },
  {
    'domain': 'jointure_QT'
    'type': 'excel'
    'sheetname': null
    'cache': true
    'file': 'Jointures_QT.xlsx'
  },
    domain: 'dwell_time'
    type: "csv"
    file: "dwell_time.csv"
  ,
    domain: 'visited_tenants'
    type: "csv"
    file: "visited_tenants.csv"
  ,
    domain: 'visited_floors'
    type: "csv"
    file: "visited_floors.csv"
  ,
    domain: 'monthly_sales'
    type: "csv"
    file: "monthly_sales.csv"
  ,
    domain: 'monthly_footfall'
    type: "csv"
    file: "monthly_footfall.csv"
  ,

  # {
  #   domain: 'dwell_time'
  #   type: 'google_spreadsheet'
  #   spreadsheet_id: '1TiAmnlcSk6oSie0C1h1AvvhnVPrA0a-y3EBLdoiRkYQ'
  #   sheetname: 'dwell_time'
  # },
  # {
  #   domain: 'visited_tenants'
  #   type: 'google_spreadsheet'
  #   spreadsheet_id: '1WhMPKP3N-jkNGXYM5zq27HsAN11xMNDlp89B2RJwIBA'
  #   sheetname: 'visited_tenants'
  # },
  # {
  #   domain: 'visited_floors'
  #   type: 'google_spreadsheet'
  #   spreadsheet_id: '1WhMPKP3N-jkNGXYM5zq27HsAN11xMNDlp89B2RJwIBA'
  #   sheetname: 'visited_floors'
  # },
  # {
  #   domain: 'monthly_sales'
  #   type: 'google_spreadsheet'
  #   spreadsheet_id: '1WhMPKP3N-jkNGXYM5zq27HsAN11xMNDlp89B2RJwIBA'
  #   sheetname: 'monthly_sales'
  # },
  # {
  #   domain: 'monthly_footfall'
  #   type: 'google_spreadsheet'
  #   spreadsheet_id: '1WhMPKP3N-jkNGXYM5zq27HsAN11xMNDlp89B2RJwIBA'
  #   sheetname: 'monthly_footfall'
  # },
]
DATA_PROVIDERS: [ ]
REPORTS: [
  query:
    domain: "reports"
  template: "report"
]
DASHBOARDS: [
    query:[
      $match:
        domain: "center_kpis"
    ]
    report: "center"
    template: "center-dashboard"
  ,
    query:[
      $match:
        domain: "last_month_kpis"
    ,
      $sort:
        retailer_name:1
    ]
    report: "center"
    template: "tenant-dashboard"
]
PERMISSIONS_DATA:
  query:
    domain: "dashboards"
    default: 1.0
MAX_SELECTABLE_REPORTS: 500
MAX_SELECTABLE_DASHBOARDS: 500
MONGO_INDEXES: [
  "domain"
  [
    "domain"
    "report"
  ]
]
