
'slides': [
  {
    'id': 0
    'level': 0
  }
  {
    'title': 'Pool selector'
    'id': 10
    'level': 1
  }
  {
    'parent_id': 10
    'title': 'Talent pool map'
    'charts': [
      {
        'peers': ' '
        'join': 'Country Code'
        'projection': 'world'
        'id': 0
        'style': 'secondary'
        'value': 'my_count'
        'label': 'my_label'
        'levels': 4
        'cartoFiles': ' ': 'world-topojson.json'
        'crossfilter':
          'on': 'Country Code'
          'datasets': [ 1 ]
        'chartType': 'carto'
        'units': 'my_count': ''
        'kpi': 'my_filter'
        'hideScale': true
        'data':
          'query': 'domain': 'carto'
          'precision': 'my_count': ',.0f'
        'legend': 'dimension': 'my_filter'
        'size': 0.4
      }
      {
        'sort': 'desc'
        'id': 1
        'value': 'my_count'
        'label': 'my_label'
        'meta': [
          'International_mobility'
          'Age'
          'Tenure in the current position'
        ]
        'filters': 'upper-right':
          'reset': 'All functions'
          'on': 'my_filter'
          'datasets': [
            0
            1
          ]
          'type': 'dropdown'
        'units': 'my_count': ' year(s)'
        'chartType': 'horizontalBarchart'
        'data':
          'query': 'domain': 'slave'
          'precision': 'my_count': ',.1f'
        'legend': true
        'size': 0.5
      }
    ]
    'id': 10002
    'level': 3
  }
  {
    'level': 3
    'title': 'Talent pool selector'
    'parent_id': 10
    'commentary': 'Results by tenure, function and language'
    'id': 10001
    'chartOptions':
      'sort': 'desc'
      'value': 'my_count'
      'label': 'my_label'
      'source': 'source interne Axa Talent'
      'meta': [
        'International_mobility'
        'Age'
        'Tenure in the current position'
      ]
      'filters':
        'upper-right':
          'reset': 'All Functions'
          'on': 'Function'
          'type': 'dropdown'
        'upper-middle':
          'reset': 'All languages'
          'on': 'Language'
          'type': 'dropdown'
      'units': 'my_count': ' years'
      'chartType': 'horizontalBarchart'
      'data':
        'query': 'domain': 'pool-selector'
        'precision': 'my_count': ',.1f'
      'legend': true
  }
]
'sharingOptions': false
'comments': false
'noDataError':
  'message': '<div class="error-first-word">Sorry,</div> No data available for your your selection'
  'clues': [ 'report-selector' ]
'home': 'skipToReport': '0'
