name: 'Établissements de santé en France'
entityName: "{{report_id}}"
attributes: [ "226 tenants", "139 400 m²" ]
id: "{{ index }}"
date: "2016"
background:
  assetName: "bg-1"
  overlay: false
execsumTitle: "Établissements de santé en France2"

search: # Search among reports (*)
  showSearchBar: true #(1)
  searchRemoteCall: true #(2)

dashboards:
  search: "Recherchez un etablissement"
