name: 'Activity Report'
entityName: "{{center}}"
attributes: [ "226 tenants", "139 400 m²" ]
id: "{{ index }}"
date: "September 2016"
background:
  assetName: "bg-1"
  overlay: false

cartoFiles:
  "Floor 0": "MAP_QT_0_topojson.json"
  "Floor 1": "MAP_QT_1_topojson.json"
  "Floor 2": "MAP_QT_2_topojson.json"
  "Floor 3": "MAP_QT_3_topojson.json"

slideInfos: {}
dashboards:
  search: "Search a tenant"
