settings:
  comparison:
    description: "%%For all comparison screens, compare with:%%"
    values: [
      "By default"
      "Entity A"
      "Entity B"
      "Entity C"
    ]
    default: "%%By default%%"
glossary:
  title: "%%Glossary%%"
  terms: [
    term: "%%Revenue%%"
    meaning: "%%Net activity for the entire group over the past year%%"
  ,
    term: "%%Business Groups%%"
    meaning: "%%GLOSSARY_2_MEANING%%"
  ]
sharingOptions: true
embedCharts: true
slidePdfEnabled: true


home:
  skipToReport: 0

sharingOptions: true
comments: true

slides: [
  {
    level: 0
    id: 0
  }
  {
    level: 1
    title: "%%By Region%%"
    id: 10
  }
  {
    level: 1
    title: "%%By Business Group%%"
    id: 20
  }
  {
    level: 2
    title: "%%Wines & Spirits%%"
    id: 200
    parent_id: 20
  }
  {
    level: 2
    title: "%%Fashion & Leather Goods%%"
    id: 201
    parent_id: 20
  }
  {
    level: 2
    title: "%%Perfumes & Cosmetics%%"
    id: 202
    parent_id: 20
  }
  {
    level: 2
    title: "%%Selective Retailing%%"
    id: 203
    parent_id: 20
  }
  {
    level: 2
    title: "%%Watches & Jewelry%%"
    id: 204
    parent_id: 20
  }
  {
    level: 3
    title: "%%Revenue & Profit%%"
    parent_id: 10
    commentary:"%%Region ranking by revenue in amount and by % of global revenue%%"
    filters:
      "bottom-right":
        on: "filter"
        type: "buttons"
    chartOptions:
      data:
        query:
          domain: "revenue"
        postprocess:[
          rename:
            values:
              'Revenue in €':
                'en': 'Revenue in €'
                'fr': 'CA en €'
              '% of Revenue':
                'en': '% of Revenue'
                'fr': '% du CA'
      ]
        precision:
          evo:'.0%'
      chartType: "horizontalBarchart"
      label: "label"
      value: "value"
      variation:"evo"
      variationLegend: "Var.<br>vs N-1"
      sort: "desc"
      units:
        value:
          "filter":
            "%%Revenue in €%%": "M€"
            "%%Pct of Revenue%%": "%"

      source: "Tucana Sample Data"
      sparklines:
        prefix: "sparkline"
        legend: "%%Over the past 4 years%%"
        unit: "%"

    id: 10001
  }
  {
    level: 3
    title: "EBIT"
    parent_id: 10
    chartOptions:
      data:
        query:
          domain: "waterfall"
        postprocess:[
         rename:
           values:
             'Net Profit 2015':
               'en': 'Net Profit 2015'
               'fr': 'Résultat Net 2015'
             'Operating expenses':
               'en': 'Operating expenses'
               'fr': "Dépenses d'exploitation"
             'Purchase':
               'en': 'Purchase'
               'fr': "Achats"
             'Ext. Costs':
               'en': 'Ext. Costs'
               'fr': "Coûts ext."
             'Taxes':
               'en': 'Taxes'
               'fr': "Impôts"
             'Admin. expenses':
                'en': 'Admin. expenses'
                'fr': "Dépenses admin."
             'Amortization':
                'en': 'Amortization'
                'fr': "Amortissement"
             'Financial income':
                'en': 'Financial income'
                'fr': "Revenus financiers"
             'Financial expenses':
                'en': 'Financial expenses'
                'fr': "Dépenses financières"
             'Extraordinary result':
                'en': 'Extraordinary result'
                'fr': "Résultat exceptionel"
             'Other taxes':
                'en': 'Other taxes'
                'fr': "Autre impôt"
             'Net Profit 2016':
                'en': 'Net Profit 2016'
                'fr': 'Résultat Net 2016'

   ]
      chartType: "waterfall"
      value: "value"
      label: "label"
      sublabel: "label_sublevel"
      units:
        "value": " k€"
    id: 10200
  }
  {
    level: 3
    title: "%%Stores Network%%"

    chartOptions:
      data:
        query:
          domain: "0_10002"
        postprocess:[
          rename:
            values:
              'Nb of Stores':
                'en': 'Nb of stores'
                'fr': 'Nbr de points de vente'
              '% of Revenue':
                'en': '% of Revenue'
                'fr': '% du CA'
      ]
      chartType: "horizontalBarchart"
      label: "label"
      value: "value"
      sort: "desc"
      units:
        value:
          breakdown:
            "Nb of Stores": " Stores"
            " % of Revenue": "%"
      packs: "groups"

    filters:
      "upper-middle":
        on: "breakdown"
        type: "buttons"

    parent_id: 10

    id: 10002
  }
  {
    level: 3
    title: "%%Revenue Map%%"
    parent_id: 10
    id: 10003
    filters:
      "bottom-right":
        on:"type"
        type:"slider"
    chartOptions:
      data:
        query:
          domain: "map"
      chartType: "carto"
      join: "Country Code"
      label: "Country Name"
      value: "Value"
      peers: " "
      levels: 4
      projection: "world"
      kpi: "kpi"
      cartoFiles:
        " ": "world-topojson.json"

      units:
        value: "M €"
  }
  {
    level: 3
    title: "%%National view%%"
    parent_id: 10
    id: 10301
    drill:
      template:
        id: '<%= id %>'
        level: '<%= level %>'
        topojson: '<%= level %>_<%= id %>.topojson.json'
        data_file: "<%= level %>_<%= id %>"
        label: "<%= ZONE_NAME %>"
      default:
        id: 'france'
        topojson: "france_regions.topojson.json"
        level: 'france'
        label: "France"
        data_file: "france_regions"
    datasets:
      zone_data:
        query:
          domain: "<%= drill.data_file %>"
    chartOptions:
      chartType: "mapchart"
      zones:
        drill: true
        label: "ZONE_NAME"
        dataset: 'zone_data'
        shapes: "<%= drill.topojson %>"
        join:
          shapes: "id"
          data: "id"
        color: "value"
      legend:true
  }
  {
    level: 3
    title: "%%Cash Forecast%%"
    parent_id:10
    id: 10300
    recommendation:
        advert: "%%Warning%%"
        content: """%%WARNING_CONTENT%%
        """
    chartOptions:
      data:
        query:
          domain: "cash_forecast"

        date:
          selector: 'date'
          format: '%m/%Y'
      chartType: "linechart"
      units:
        value: " k€"
        date: " "

      value: "value"
      groups: "type"
      date: "date"
      legend: true
  }
  {
    level: 3
    title: "%%Revenue & Profit%%"
    recommendation:
       advert: "%%Brands%%"
       content: "%%BRAND_DETAILS%%"

    charts: [
          {
            data:
              query:
                domain: "0_20001_0"
              postprocess:[
                rename:
                  values:
                    'Revenue':
                      'en': 'Revenue'
                      'fr': 'CA'
                    'Profit':
                      'en': 'Profit'
                      'fr': 'Bénéfice'
            ]
            chartType: "linechart"
            units:
              value: " M€"
              date: ""

            crossfilter:
              on: "date"
              datasets: [1]
            groups: "label"
            legend: true
            date: "date"
            value: "value"
            size: 0.3
            style: "secondary"
            cr: 4
            id: 0
          }
          {
            data:
              file:
                name: "<%= report.id %>_20001_1"
            chartType: "horizontalBarchart"
            value: "revenue"
            crossfilter:
              on: "date"
            label: "label"
            # variation: "evolution"
            # variationLegend: "Écart // 2011"
            units:
              "%%Revenue%%": " M€"

            size: 0.6
            id: 1
          }

  ]

    parent_id: 200

    id: 20001
  }
  {
    level: 3
    title: "%%Sales in Volume%%"

    parent_id: 200
    chartOptions:
      data:
        file:
          name: "<%= report.id %>_20002"
      chartType: "waterfall"
      label: "label"
      sublabel: "label_sublevel"
      # meta: ["proportion"]
      evolution: "evolution"
      value: "value"
      units:
        value: "%%M of bottles%%"
        evolution: "%"
      legend: true

    id: 20002
  }
  {
    level: 3
    title: "%%Brand Communication%%"
    chartOptions:
      chartType: "text"
      data: 'file':
        name: 'brand_com'
        extension: 'md'
    parent_id: 200
    id: 20003
  }

]
