entityName: "{{ center }}"
id: "{{ index }}"
report: "{{ report_id }}"
default: true

categories: [
  name: "Sales"
  kpis: [
    name: "Total sales"
    type: "value"
    id: 0
    value: "{value:.2f}"
    unit: "M€"
    badge: "bullet"
    sentiment: true
    comment: "{comparison:+.1f}% vs last year"
    evolution: 'sign'
    __data__:
      value:
        query:
          domain: "center_kpis"
          center: "{{center}}"
        field: "Total sales"
      comparison:
        query:
          domain: "center_kpis"
          center: "{{center}}"
        field: "Total sales evolution"
    source: "Mercury R12M"
  ,
    name: "Avg Shopfront conversion rate"
    type: "value"
    value: "{value:.0%}"
    id: 1
    unit: ""
    badge: "bullet"
    __data__:
      value:
        query:
          domain: "center_kpis"
          center: "{{center}}"
        field: "Average Shopfront conversion rate"
    comment: "NA vs panel of SC"
    source: "wifi, R12M"
  ,
    name: "Avg Purchase conversion rate"
    value: "{value:.1f}"
    value: "NA"
    id: 2
    unit: ""
    badge: "bullet"
    __data__:
      value:
        query:
          domain: "center_kpis"
          center: "{{center}}"
        field: "Average Purchase conversion rate"
    comment: "NA vs panel of SC"
    source: "Bank data 2014"
  ,
    name: "Average basket"
    type: "value"
    value: 61
    id: 3
    unit: "€"
    badge: "bullet"
    comment: "NA vs panel of SC"
    source: "Soft computing 2014"
   ]
,
  name: "Traffic"
  kpis: [
    name: "R12M Footfall"
    type: "value"
    value: "{value:.2f}"
    id: 4
    badge: "bullet"
    sentiment: true
    comment: "{comparison:+.1f}% vs last year"
    evolution: 'sign'
    __data__:
      value:
        query:[
          $match:
            domain: "center_kpis"
            center: "{{center}}"
        ,
          $project:
            "Total annual footfall": $divide: ['$Total annual footfall', 1000000]
        ]
        field: "Total annual footfall"
      comparison:
        query:
          domain: "center_kpis"
          center: "{{center}}"
        field: "Total annual footfall evolution"
    unit: "M"
    slide: 20000
    source: "Quantaflow"
  ,
    name: "Total monthly footfall"
    type: "value"
    value: "{value:.2f}"
    id: 5
    badge: "bullet"
    badgeSentiment: "equal"
    comment: "NA vs last year"
    unit: " M"
    slide: 20000
    __data__:
      value:
        query:[
          $match:
            domain: "center_kpis"
            center: "{{center}}"
        ,
          $project:
            "monthly footfall": $divide: ['$monthly footfall', 1000000]
        ]
        field: "monthly footfall"
    source: "Quantaflow"
  ,
    name: "Dwell Time"
    type: "value"
    value: "{value:.0f}"
    id: 6
    unit: " min"
    __data__:
      value:
        query:[
          $match:
            domain: "center_kpis"
            center: "{{center}}"
        ,
          $project:
            "Dwell time": $divide: ['$Dwell time', 60]
        ]
        field: "Dwell time"
    source: "wifi, avg R12M"
  ,
    name: "% of first time visitors"
    type: "value"
    value: "{value:.0%}"
    unit: " "
    id: 7
    badge: "bullet"
    badgeSentiment: "equal"
    comment: "NA vs last year"
    __data__:
      value:
        query:
          domain: "center_kpis"
          center: "{{center}}"
        field: "% of first time visitors"
    source: "wifi, avg R12M"
  ,
    name: "Visit Frequency"
    type: "value"
    value: "{value:.1f}"
    id: 8
    unit: " /month"
    badge: "bullet"
    badgeSentiment: "equal"
    comment: "NA vs last year"
    __data__:
      value:
        query:
          domain: "center_kpis"
          center: "{{center}}"
        field: "Visit frequency per month"
    source: "wifi, avg R12M"
  ,
    name: "Avg number of visited tenants"
    type: "value"
    value: "{value:.1f}"
    id: 9
    unit: " "
    __data__:
      value:
        query:
          domain: "center_kpis"
          center: "{{center}}"
        field: "Average number of visited tenants"
    source: "wifi, avg R12M"
   ]
,
  name: "Sociodemographic profile of clients"
  kpis: [
    name: "Part of Women"
    type: "value"
    value: "{value:.0%}"
    id: 10
    unit: ""
    badge: "bullet"
    comment: "NA vs last year"
    __data__:
      value:
        query:
          domain: "center_kpis"
          center: "{{center}}"
        field: "% of women"
    source: "Bank data 2014"
  ,
    name: "Part of CSP+"
    type: "value"
    value: "{value:.0%}"
    id: 11
    unit: ""
    badge: "bullet"
    comment: "NA vs last year"
    __data__:
      value:
        query:
          domain: "center_kpis"
          center: "{{center}}"
        field: "% of CSP+"
    source: "Bank data 2014"
  ,
    name: "Median age"
    type: "value"
    value: "{value:.0f}"
    id: 12
    unit: ""
    badge: "bullet"
    comment: "NA last year"
    __data__:
      value:
        query:
          domain: "center_kpis"
          center: "{{center}}"
        field: "Median age"
    source: "Bank data 2014"
  ,
    name: "Median income"
    type: "value"
    id: 13
    value: "{value:.0f}"
    unit: " €"
    badge: "bullet"
    comment: "NA vs last year"
    __data__:
      value:
        query:
          domain: "center_kpis"
          center: "{{center}}"
        field: "Median income"
    source: "Bank data 2014"
   ]
,
  name: "Catchment area performance"
  kpis: [
    name: "Awereness rate"
    type: "value"
    value: "{value:.0%}"
    id: 14
    unit: ""
    badge: "bullet"
    comment: "NA vs last year"
    badgeSentiment: "equal"
    __data__:
      value:
        query:
          domain: "center_kpis"
          center: "{{center}}"
        field: "Awareness rate of shopping center"
    source: "Coté clients 2014"
  ,
    name: "Annual Penetration rate"
    type: "value"
    value: "{value:.0%}"
    id: 15
    unit: ""
    badge: "bullet"
    comment: "NA vs last year"
    badgeSentiment: "equal"
    __data__:
      value:
        query:
          domain: "center_kpis"
          center: "{{center}}"
        field: "Penetration rate of shopping center"
    source: "Côté clients 2014"
   ]
,
  name: "Marketing events"
  kpis: [
    name: "Average attendance"
    type: "value"
    value: "NA"
    id: 16
    unit: ""
    badge: "bullet"
    badgeSentiment: "equal"
    comment: "NA vs last year"
    source: "wifi"
   ]
 ]