etl_config:
  DATA_SOURCES: [{
    domain: "market-breakdown"
    type: "excel"
    file: "data-market-breakdown.xls"
    sheetname: "Data"
  }]
  REPORTS: []
  DASHBOARDS: {}
  MAX_DASHBOARDS: 500
  MONGO_INDEXES: [
    "domain"
    [
      "domain"
      "subdomain"
    ]
  ]
