entityName: "{{ country }}"
id: "{{ index }}"
report: "{{ report_id }}"
default: "{{ default }}"

categories: [
  name: "Luxury brand vs Market"
  kpis: [
    name: "Luxury brand's monthly growth"
    value: "8.5"
    unit: "%"
    badge: "bullet"
    badgeSentiment: "better"
    comment: " + 0.5 pts compared to the market"
    slide: 101
    __data__:
      value:
        query:
          domain: "overall_growth"
          country: "{{ country }}"
        field: "value"
    source: "July 2015, internal source"
    id: 1
  ,
    name: "Overall growth"
    value: "6.5"
    unit: "%"
    badge: "bullet"
    badgeSentiment: "better"
    comment: " + 0.3 pts compared to the market"
    slide: 101
    source: "Year to date, internal source"
    id: 33
  ,
    type: "media-video"
    provider:'vimeo'
    id: "19515333"
  ,
    name: "Growth on Fragrances"
    value: "1"
    unit: "%"
    badge: "bullet"
    badgeSentiment: "worse"
    comment: " - 2 pts compared to the market"
    slide: 101
    source: "July 2015, internal source"
    id: 34
  ,
    name: "Growth on Skincare"
    value: "10"
    unit: "%"
    badge: "bullet"
    badgeSentiment: "better"
    comment: " + 0.5 pts compared to the market"
    slide: 101
    source: "July 2015, internal source"
    id: 35
  ,
    name: "Growth on Makeup"
    value: "8"
    unit: "%"
    badge: "bullet"
    badgeSentiment: "better"
    comment: " + 2 pts compared to the market"
    slide: 101
    source: "July 2015, internal source"
    id: 36

  ]
,
  name: "Performance"
  kpis: [

    type: "media-img"
    src: "images/E13014019781436325_3-1.jpg"
  ,
    name: "Top division"
    source: "2015, internal source"
    type: "leaderboard"
    slide: 201
    chartOptions:
      value: "value"
      label: "label"

      data:
        query:
          domain: "top_div_country"
          country: "{{ country }}"
      units:
        value: " M€"
  ]
,
  name: "Comparisons"
  kpis: [
    name: "Versus"
    source: "2015, internal source"
    type: "leaderboard"
    slide: 301
    chartOptions:
      value: "value"
      label: "label"


      data:
        query:
          domain: "versus"
          country: "{{ country }}"

      units:
        value: " M€"
  ,
    type: "media-img"
    src: "images/chanel_makeup_spring.jpg"
  ]
]
