entityName: "{{ zone }}"
id: "{{ index }}"
report: "0"
default: "{{ default }}"

categories: [
  name: "Growth"
  kpis: [
    name: "Luxury brand's overall growth"
    value: "5.1"
    unit: "%"
    badge: "evolution_up"
    badgeSentiment: "better"
    comment: " Luxury brand performs better than the market"
    slide: 101
    source: "2015, internal source"
    id: 1
  ,
    type: "media-video"
    id: "138089449"
  ]
,
  name: "Target"
  kpis: [

    type: "media-img"
    src: "images/dior-addict-lipstick_width_1284.jpg"
  ,
    name: "Top division"
    commentary: "Luxury brand is in first position in France"
    source: "2015, internal source"
    type: "leaderboard"
    slide: 201
    chartOptions:
      value: "value"
      label: "label"

      data:
        query:
          domain: "top_div_country"
          country: "{{ country }}"
      units:
        value: " M€"
  ]
,
  name: "Comparisons"
  kpis: [
    name: "Versus"
    commentary: "Luxury brand is in first position in France"
    source: "2015, internal source"
    type: "leaderboard"
    slide: 301
    chartOptions:
      value: "value"
      label: "label"

      data:
        query:
          domain: "versus"
          country: "{{ country }}"
      units:
        value: " %"
  ,
    type: "media-img"
    src: "images/d-campgain.png"











  ]
]
