name: "Sales Report"
entityName: "{{ country }}"
id: "{{ index }}"
#date: 'Janvier 2016'
date:
  id: "date"
  type: "buttons"
  query:
    domain: 'ranks'
  fields: ['breakdown']
background:
  assetName: "bg-1"
  overlay: false
execsumTitle: "This is a demo of <br>the <strong>best reporting</strong> solution ever. <br>Trusted by <strong>thousands of companies</strong>*"
execsumNote: "* And <strong>nobody</strong> ever got fired for choosing Toucan Toco"

dashboards:
  search: "Recherchez par zone"

