DATA_SOURCES: [
    domain: "market-breakdown"
    type: "excel"
    file: "data-market-breakdown.xls"
    sheetname: "Data"
,
    domain: "dashboards"
    type: "excel"
    file: "dashboards.xls"
    sheetname: "Data"
,
    domain: "gsheets"
    type: "google_spreadsheet"
    spreadsheet_id: '1IUnro5OfBv-PzWCl8hZ27FyX-ynoMcFmeid1WnIKmjM'
    sheetname: "test"
,
    domain: "ranks"
    type: "csv"
    file: "test.csv"
    skip_rows: 0
,
    domain: "lines1"
    type: "csv"
    file: "lines_1.csv"
,
    domain: "lines2"
    type: "csv"
    file: "lines_2.csv"
,
    domain: "dynamic_barlinechart"
    type: "csv"
    file: "dynamic_barlinechart.csv"
,
    domain: "funnelchart"
    type: "csv"
    file: "funnelchart.csv"
,
# 01/2017 - added by Margot when doing the full-toucan review
    domain: "heatmap"
    type: "csv"
    file: "heatmap.csv"
,
    domain: "0_35201"
    type: "csv"
    file: "0_35201.csv"
,
    domain: "slave_heatmap"
    type: "csv"
    file: "slave_heatmap.csv"
,
    domain: "0_36200"
    type: "csv"
    file: "0_36200.csv"
,
    domain: "0_36202"
    type: "csv"
    file: "0_36202.csv"
,
    domain: "0_37100"
    type: "csv"
    file: "0_37100.csv"
,
    domain: "0_37101"
    type: "csv"
    file: "0_37101.csv"
,
    domain: "0_32106"
    type: "csv"
    file: "0_32106.csv"
,
    domain: "0_32101"
    type: "csv"
    file: "0_32101.csv"
,
    domain: "0_30201"
    type: "csv"
    file: "0_30201.csv"
,
    domain: "0_30202"
    type: "csv"
    file: "0_30202.csv"
,
    domain: "0_30203"
    type: "csv"
    file: "0_30203.csv"
,
    domain: "0_32205_0"
    type: "csv"
    file: "0_32205_0.csv"
,
    domain: "0_32205_1"
    type: "csv"
    file: "0_32205_1.csv"
,
    domain: "0_32206_0"
    type: "csv"
    file: "0_32206_0.csv"
,
    domain: "0_32206_1"
    type: "csv"
    file: "0_32206_1.csv"
,
    domain: "0_32104"
    type: "csv"
    file: "0_32104.csv"
,
    domain: "0_32105"
    type: "csv"
    file: "0_32105.csv"
,
    domain: "0_32106"
    type: "csv"
    file: "0_32106.csv"
,
    domain: "0_32107"
    type: "csv"
    file: "0_32107.csv"
,
    domain: "0_30204"
    type: "csv"
    file: "0_30204.csv"
,
    domain: "0_32100"
    type: "csv"
    file: "0_32100.csv"
,
    domain: "0_32102"
    type: "csv"
    file: "0_32102.csv"
,
    domain: "0_34201"
    type: "csv"
    file: "0_34201.csv"
,
    domain: "0_34204"
    type: "csv"
    file: "0_34204.csv"
,
    domain: "0_34200"
    type: "csv"
    file: "0_34200.csv"
,
    domain: "treemap"
    type: "csv"
    file: "treemap.csv"
,
    domain: "0_37102"
    type: "csv"
    file: "0_37102.csv"
,
    domain: "0_30205"
    type: "csv"
    file: "0_30205.csv"
,
    domain: "0_40206"
    type: "csv"
    file: "0_40206.csv"
,
    domain: "timeline"
    type: "csv"
    file: "timeline.csv"
,
    domain: "horizontal_barchart_groups"
    type: "csv"
    file: "horizontal_barchart_groups.csv"
,
    domain: "horizontal_barchart_evolution"
    type: "csv"
    file: "horizontal_barchart_evolution.csv"
,
    domain: "horizontal_barchart_sparklines"
    type: "csv"
    file: "horizontal_barchart_sparklines.csv"
,
    domain: "horizontal_barchart_legacy_sparklines"
    type: "csv"
    file: "horizontal_barchart_legacy_sparklines.csv"
,
    domain: "horizontal_barchart_simple"
    type: "csv"
    file: "horizontal_barchart_simple.csv"
,
    domain: "0_201_1"
    type: "csv"
    file: "0_201_1.csv"
,
    domain: "0_201_1_avg"
    type: "csv"
    file: "0_201_1_avg.csv"
,
    domain: "waterfall_new"
    type: "csv"
    file: "waterfall_new.csv"
,
    domain: "waterfall_new_categorized"
    type: "csv"
    file: "waterfall_new_categorized.csv"
,
    domain: "cities_data"
    type: "csv"
    file: "cities_data.csv"
,
    domain: "barlines_bars"
    type: "csv"
    file: "barlines_bars.csv"
,
    domain: "barlines_lines"
    type: "csv"
    file: "barlines_lines.csv"
]
DATA_PROVIDERS: [
  # name: "Some cube"
  # type: "SSAS"
  # options:
  #   server_url: "http://some_server_url/OLAP/msmdpump.dll"
# ,
  name: 'Some MySQL provider'
  type: 'MySQL'
  options:
    host: 'localhost'  # REQUIRED
    db: 'circle_test'  # REQUIRED
    user: 'ubuntu'  # REQUIRED
    password: ''  # OPTIONAL
    port: 3306  # OPTIONAL
,
  name: 'SomeGoogleAnalyticsProvider'
  type: 'GoogleAnalytics'
  options:
    authentication_file: 'test-connector-ga-47f3cded59c8.json' # Put this file in app/parameters
,
  name: "SomeGoogleBigQueryProvider"
  type: "GoogleBigQuery"
  options:
    project_id: "carbide-parser-133123"
    authentication_file: "test-psa-1a4033d8f4ca.json"
,
  name: 'Some SapHana provider'
  type: 'SapHana'
  options:
    host: 'localhost'
    port: 30015
    user: 'DEV_AF81GAMQVVPNWUA4MUI5C218K'
    password: 'Gv87XkSuSz1JEHf'
]
REPORTS: [
  query:
    domain: "dashboards"
    default: 1.0
  template: "report"
]
DASHBOARDS: [
  query:
    domain: "dashboards"
  report: "country"
  template: "dashboard"
]
PERMISSIONS_DATA:
  query:
    domain: "dashboards"
    default: 1.0
MAX_SELECTABLE_REPORTS: 500
MAX_SELECTABLE_DASHBOARDS: 500
MONGO_INDEXES: [
  "domain"
  [
    "domain"
    "report"
  ]
]
