
'DATA_SOURCES': [
  {
    'spreadsheet_id': '1wN6d8iWn5AXWznxhBnJgt3qwcmxbiF34vAbH92WsdRI'
    'sheetname': 'iris_data_Caen'
    'domain': 'iris_data_Caen'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1wN6d8iWn5AXWznxhBnJgt3qwcmxbiF34vAbH92WsdRI'
    'sheetname': 'malls_loc_Caen'
    'domain': 'malls_loc_Caen'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1fX0iwx9ilDS8UDTLxnWdhcJZMywk9kLdGvPTxzjfz1A'
    'sheetname': 'results-bubble'
    'domain': 'results-bubble'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1fX0iwx9ilDS8UDTLxnWdhcJZMywk9kLdGvPTxzjfz1A'
    'sheetname': 'linechart-ventes'
    'domain': 'linechart-ventes'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1fX0iwx9ilDS8UDTLxnWdhcJZMywk9kLdGvPTxzjfz1A'
    'sheetname': 'heatmap_home'
    'domain': 'heatmap_home'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1fX0iwx9ilDS8UDTLxnWdhcJZMywk9kLdGvPTxzjfz1A'
    'sheetname': 'dashboards'
    'domain': 'dashboards'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1fX0iwx9ilDS8UDTLxnWdhcJZMywk9kLdGvPTxzjfz1A'
    'sheetname': 'dashboard_data'
    'domain': 'dashboard_data'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1fX0iwx9ilDS8UDTLxnWdhcJZMywk9kLdGvPTxzjfz1A'
    'sheetname': 'dashboard_line'
    'domain': 'dashboard_line'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1fX0iwx9ilDS8UDTLxnWdhcJZMywk9kLdGvPTxzjfz1A'
    'sheetname': 'growths'
    'domain': 'growths'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1fX0iwx9ilDS8UDTLxnWdhcJZMywk9kLdGvPTxzjfz1A'
    'sheetname': 'ranking'
    'domain': 'ranking'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1fX0iwx9ilDS8UDTLxnWdhcJZMywk9kLdGvPTxzjfz1A'
    'sheetname': 'target_metrics'
    'domain': 'target_metrics'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1fX0iwx9ilDS8UDTLxnWdhcJZMywk9kLdGvPTxzjfz1A'
    'sheetname': 'waterfall'
    'domain': 'waterfall'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1fX0iwx9ilDS8UDTLxnWdhcJZMywk9kLdGvPTxzjfz1A'
    'sheetname': 'carto'
    'domain': 'carto'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1fX0iwx9ilDS8UDTLxnWdhcJZMywk9kLdGvPTxzjfz1A'
    'sheetname': 'carto2'
    'domain': 'carto2'
    'type': 'google_spreadsheet'
  }
]
'MONGO_INDEXES': [
  'domain'
  [
    'domain'
    'subdomain'
  ]
]
'DASHBOARDS': [
  {
    'report': 'Report'
    'query':
      'domain': 'dashboards'
      Group: "France"
    'template': 'dashboard'
  }
  {
    'report': 'Report'
    'query':
      'domain': 'dashboards'
      Group: $in: ["Région", "Boutique"]
    'template': 'dashboard-division'
  }
]
'REPORTS': [ {
  'query':
    'domain': 'dashboards'
    'default': 1
  'template': 'report'
} ]
'DATA_SOURCE_DIR': 'data_sources'
# 'MAX_SELECTABLE_DASHBOARDS': 500
