
glossary:
  title: 'Glossaire'
  terms: [
    term: "Data"
    meaning: "An android from the 24th century who serves on the star ship Enterprise.<br><em>Data kicked some borg ass and then fed his cat lunch.</em>"
  ,
    term: "Hipsterectomy"
    meaning: "The removal or dismissal of what is largely accepted to be cool or trendy. The process of de-hipsterizing someone or something."
  ,
    term: "Graph"
    meaning: "A slang term for a sketching of what someone plans on tagging. graffiti. <br><em>NOT A CHART!</em>"
  ]

sharingOptions: true

noDataError:
  message: "<div class=\"error-first-word\">Désolé,</div>aucune donnée n'est disponible. Pour obtenir des données sur cet écran choisissez un autre rapport"
  clues: ['report-selector', 'bottom-filter', 'settings', 'menu']

home:
  skipToReport: "0"

slides: [
  {
    level: 0
    id: 0
  }
  {
    level: 1
    title: "Comparative analysis"
    id: 10
  }
  {
    level: 1
    title: "Center Kpis"
    id: 11
  }
  {
    level: 2
    title: "Zone Analysis"
    parent_id: 10
    id: 200
  }
  {
    level: 2
    title: "Category Analysis"
    parent_id: 10
    id: 201
  }
  {
    level: 2
    title: "Global Kpis"
    parent_id: 11
    id: 202
  }
  {
    level: 2
    title: "BL Comparison"
    parent_id: 11
    id: 203
  }
  {
    level: 3
    title: "Operational"

    filters:
      "bottom-right":
        on: "variable"
        type: "buttons"
        order:
          custom: ["Sales/m²", "Average basket"]
    parent_id: 200
    chartOptions:
      data:
        query:
          domain: 'carto'
          subdomain: 'operational'
          center: '<%= report.entityName %>'
      chartType: "carto"
      levels: 4
      join: "EntityHand"
      value: 'value'
      label: "Retailer Name"
      peers: "branch level 3"
      dropdownWithoutPeers: true
      projection: "plan"
      meta: [
        "GLA"
        "Lease end"
      ]
      units:
        value:
          variable:
            GLA: "m²"
            "Sales/m²": "€/m²"
            "Average basket": "€"

      filters:
        'arrow-selector':
            on:'floor'
    source: 'Average Basket: Bank Data - Sales/m²: fakedata R12M'
    id: 20000
  }
  {
    level: 3
    title: "Finance"

    parent_id: 200
    filters:
      "bottom-right":
        on: "variable"
        type: "buttons"
        order:
          custom: ["MGR/m²","OCR",  "ERV/m²"]
    chartOptions:
      data:
        query:
          domain: 'carto'
          subdomain: 'finance'
          center: '<%= report.entityName %>'
      chartType: "carto"
      levels: 4
      join: "EntityHand"
      value: 'value'
      label: "Retailer Name"
      peers: "branch level 3"
      dropdownWithoutPeers: true
      projection: "plan"
      meta: [
        "GLA"
        "Lease end"
      ]
      units:
        value:
          variable:
            OCR: "%"
            "MGR/m²": "€/m²"
            "ERV/m²": "€/m²"
            GLA: "m²"
      filters:
        'arrow-selector':
            on:'floor'
    source: 'OCR: fakedata R12M - MGR/m²: fakedata R12M - ERV/m²: fakedata'
    id: 20001
  }
  {
    level: 3
    title: "Attractivity"

    parent_id: 200
    filters:
      "bottom-right":
        on: "variable"
        type: "buttons"
        order:
          custom: ["Shop Front Traffic", "Shop Front Conversion", "Destination Traffic"]
    chartOptions:
      data:
        query:
          domain: 'carto'
          subdomain: 'attracivity'
          center: '<%= report.entityName %>'
      chartType: "carto"
      levels: 4
      join: "EntityHand"
      value: 'value'
      label: "Retailer Name"
      peers: "branch level 3"
      dropdownWithoutPeers: true
      projection: "plan"
      meta: [
        "GLA"
        "Lease end"
        "Instore Traffic"
      ]
      units:
        value:
          variable:
            "Shop Front Traffic": ""
            "Destination Traffic": "%"
            "Shop Front Conversion": "%"
            GLA: "m²"
            Visits: "visits"
      filters:
        'arrow-selector':
            on:'floor'
    source: 'Wifi, monthly avg R12M'
    id: 20002
  }
  {
    level: 3
    title: "Operational"
    parent_id: 201
    filters:
      "bottom-right":
        on: "variable"
        type: "buttons"
        order:
          custom: ["Sales R12M","Sales/m²", "Sales/NSH"]
    chartOptions:
      data:
        query:
          domain: 'cat_anal'
          subdomain: 'operational'
          center: '<%= report.entityName %>'
      chartType: "horizontalBarchart"
      groups: "group"
      label: "Retailer Name"
      value: "value"
      filters:
        "upper-right":
          on: "branch level 2"
          type: "dropdown"
          reset: "All"
          withSize: true

      units:
        value:
          variable:
            "Sales R12M": " M€"
            "Sales/m²": " €/m²"
            "Sales/NSH": " €/hour"
        GLA: "m²"

      showAverage: true
      legend: true
      sort: "desc"
      meta: [
        "GLA"
        "Lease end"
      ]

    source: 'Sales R12M: fakedata - Sales/m²: fakedata R12M - Sales/NSH : fakedata & Wifi, monthly avg R12M'
    id: 20100
  }
  {
    level: 3
    title: "Finance"
    parent_id: 201
    filters:
      "bottom-right":
        on: "variable"
        type: "buttons"
        order:
          custom: ["MGR/m²","OCR",  "ERV/m²","Reversionary Potential"]
    chartOptions:
      data:
        query:
          domain: 'cat_anal'
          subdomain: 'finance'
          center: '<%= report.entityName %>'
      chartType: "horizontalBarchart"
      groups: "group"
      label: "Retailer Name"
      value: "value"
      filters:
        "upper-right":
          on: "branch level 2"
          type: "dropdown"
          reset: "All"
          withSize: true
      units:
        value:
          variable:
            "MGR/m²": " €/m²"
            "ERV/m²": " €/m²"
            "OCR": "%"
            "Reversionary Potential": " €"
        GLA: "m²"

      legend: true
      sort: "desc"
      showAverage: true
      meta: [
        "GLA"
        "Lease end"
      ]
    source: 'OCR: fakedata R12M - MGR/m²: fakedata R12M - ERV/m²: fakedata - Rev. Pot: fakedata'
    id: 20101
  }
  {
    level: 3
    title: "Attractivity"
    parent_id: 201
    filters:
      "bottom-right":
        on: "variable"
        type: "buttons"
        order:
          custom: ["Shop Front Traffic", "Instore Traffic","Shop Front Conversion", "Destination Traffic"]
    chartOptions:
      data:
        query:
          domain: 'cat_anal'
          subdomain: 'attracivity'
          center: '<%= report.entityName %>'
      chartType: "horizontalBarchart"
      groups: "group"
      label: "Retailer Name"
      value: "value"
      filters:
        "upper-right":
          on: "branch level 2"
          type: "dropdown"
          reset: "All"
          withSize: true
      units:
        value:
          variable:
            "Instore Traffic": ""
            "Shop Front Traffic": ""
            "Destination Traffic": "%"
            "Shop Front Conversion": "%"
        GLA: "m²"

      showAverage: true
      legend: true
      sort: "desc"
      meta: [
        "GLA"
        "Lease end"
      ]
    source: 'Wifi, monthly avg R12M'
    id: 20102
  }
  {
    level: 3
    title: "Time and Frequency"
    parent_id: 201
    filters:
      "bottom-right":
        on: "variable"
        type: "buttons"
    chartOptions:
      data:
        query:
          domain: 'cat_anal'
          subdomain: 'time'
          center: '<%= report.entityName %>'
      chartType: "horizontalBarchart"
      groups: "group"
      label: "Retailer Name"
      value: "value"
      filters:
        "upper-right":
          on: "branch level 2"
          type: "dropdown"
          reset: "All"
          withSize: true
      units:
        value:
          variable:
            "Dwell time": "min/visit"
            "Visit frequency": "/month"
        GLA: "m²"

      showAverage: true
      legend: true
      sort: "desc"
      meta: [
        "GLA"
        "Lease end"
      ]
    source: 'Wifi, monthly avg R12M'
    id: 20103
  }
  {
    level: 3
    title: "Sociodemo and marketing"
    parent_id: 201
    filters:
      "bottom-right":
        on: "variable"
        type: "buttons"
    chartOptions:
      data:
        query:
          domain: 'cat_anal'
          subdomain: 'socio'
          center: '<%= report.entityName %>'
      chartType: "horizontalBarchart"
      groups: "group"
      label: "Retailer Name"
      value: "value"
      filters:
        "upper-right":
          on: "branch level 2"
          type: "dropdown"
          reset: "All"
          withSize: true
      units:
        value:
          variable:
            "Awareness rate": "%"
            "Median age": ""
            "Median income": "€/month/visitor"
        GLA: "m²"

      showAverage: true
      legend: true
      sort: "desc"
      meta: [
        "GLA"
        "Lease end"
      ]
    source: 'Median age: Bank data - Median income: Bank data - Awereness rate: Coté Clients 2014'
    id: 20104
  }
  {
    level: 3
    title: "Dwell time"
    filters:
      "bottom-right":
        on: "breakdown"
        type: "buttons"
    kpis: [
      unit: " min"
      label: " 18h-20h"
    ]
    parent_id: 202
    chartOptions:
      data:
        query:
          domain: 'dwell_time'
        order:
          by:'weekday'
          custom: ['Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi','Dimanche','6h-10h','10h-12h','12h-14h','14h-18h','18h-20h','20-22h']
      chartType: "horizontalBarchart"
      groups: "center"
      value: "value"
      label: "weekday"
      legend:
        daytime: "Average dwell time"
        weekday: "Average dwell time"
      units:
        value: " min"

    source: 'Wifi, monthly avg R12M'
    id: 20200
  }
  {
    level: 3
    title: "Distribution of <br> visited tenants"
    parent_id: 202
    chartOptions:
      chartType: "barchart"
      data:
        query:
          domain: 'visited_tenants'
      value: "NB visit"
      label: "NB store"
      legend: true
      groups: "center"
      units:
        "NB visit": "% of visitors"
        "NB store": " visit"
    source: 'Wifi, monthly avg R12M'
    id: 20201
  }
  {
    level: 3
    title: "Visited Floors <br> by visit"
    parent_id: 202
    chartOptions:
      chartType: "horizontalBarchart"
      data:
        query:
          domain: 'visited_floors'
      value: "value"
      groups: "center"
      sort: "desc"
      label: "Floor"
      units:
        value: " %"
    source: 'Wifi, monthly avg R12M'
    id: 20202
  }
  {
    level: 3
    title: "Monthly <br> Sales"
    parent_id: 202
    chartOptions:
      data:
        query:
          domain: 'monthly_sales'
        date:
          selector: 'date'
          format: '%d/%m/%y'
      chartType: "linechart"
      units:
        value: "M€"
        date: "'s sales"
      value: "value"
      groups: "center"
      date: "date"
      legend: true
      ticks:
        xTicksLimit: 8
        hideXTickLimits: true
    source: 'fakedata'
    id: 20203
  }
  {
    level: 3
    title: "Monthly <br> Footfall"
    parent_id: 202
    chartOptions:
      data:
        query:
          domain: 'monthly_footfall'
        date:
          selector: 'date'
          format: '%m-%y'
      chartType: "linechart"
      units:
        value: ""
      value: "value"
      ticks:
        xTicksLimit: 8
        hideXTickLimits: true
      groups: "center"
      date: "date"
      legend: true
    source: 'fakedata'
    id: 20204
  }
  {
    level: 3
    title: "Operational"
    filters:
      "bottom-right":
        on: "variable"
        type: "buttons"
        order:
          custom: ["Sales/m²", "Sales/NSH"]
    parent_id: 203
    chartOptions:
      data:
        query:
          domain: 'bl3_comp'
          subdomain: 'operational'
          center: '<%= report.entityName %>'
      chartType: "horizontalBarchart"
      groups: "group"
      label: "branch level 2"
      value: "value"
      units:
        value:
          variable:
            "Average basket": "€"
            "Sales R12M": " M€"
            "Sales/m²": " €/m²"
            "Sales/NSH": " €/hour"
            "Purchase conversion rate": "%"

      sort: "desc"
    source: 'Sales/m²: fakedata R12M - Sales/NSH : fakedata & Wifi, monthly avg R12M '
    id: 20300
  }
  {
    level: 3
    title: "Attractivity"
    filters:
      "bottom-right":
        on: "variable"
        type: "buttons"
        order:
          custom: ["Shop Front Traffic", "Instore Traffic","Shop Front Conversion", "Destination Traffic"]
    parent_id: 203
    chartOptions:
      chartType: "horizontalBarchart"
      data:
        query:
          domain: 'bl3_comp'
          subdomain: 'attracivity'
          center: '<%= report.entityName %>'
      groups: "group"
      label: "branch level 2"
      value: "value"
      units:
        value:
          variable:
            "Instore Traffic": ""
            "Shop Front Traffic": ""
            "Destination Traffic": "%"
            "Shop Front Conversion": "%"
      sort: "desc"
    source: 'Wifi, monthly avg R12M'
    id: 20301
  }
  {
    level: 3
    title: "OCR and <br> Dwell time"
    filters:
      "bottom-right":
        on: "variable"
        type: "buttons"
    parent_id: 203
    chartOptions:
      data:
        query:
          domain: 'bl3_comp'
          subdomain: 'time'
          center: '<%= report.entityName %>'
      chartType: "horizontalBarchart"
      groups: "group"
      label: "branch level 2"
      value: "value"
      units:
        value:
          variable:
            "Dwell time": "min/visit"
            "OCR": "%"
      sort: "desc"

    source: 'Dwell time: Wifi, monthly avg R12M - OCR: fakedata'
    id: 20302
  }
]
