entityName: "{{ retailer_name }}"
id: "{{ index }}"
report: "{{ report_id }}"
default: false

features: [ [
  value: "{{GLA}}m² "
,
  value: "- {{branch_level_2}} "
,
  value: "- Opened since {{opening_date}}"
,
  value: "- Reversionary date {{lease_end}}"
 ]
]


categories: [
  name: "Operational Data"
  kpis: [
    name: "Sales"
    unit: "M€"
    type: "line"
    chartOptions:
      value: "Sales R12M"
      date: "month"
      units:
        "Sales R12M": '€'
      data:
        query:
          domain: "tenants_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
          'Sales R12M': $ne: null
    id: 21
    source: "Mercury R12M "
  ,
    name: "Sales evolution"
    type: "value"
    value: "{value:.1%}"
    unit: ""
    badge: "bullet"
    sentiment: true
    evolution: 'sign'
    __data__:
      value:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "Sales R12M evolution"
      comparison:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "Sales R12M evolution_comp"
    comment: "BL3: {comparison:.1%}"
    source: "Mercury R12M "
    id: 22
  ,
    name: "Sales / m²"
    type: "value"
    value: "{value:.0f}"
    unit: "€"
    badge: "bullet"
    sentiment: true
    evolution: 'sign'
    __data__:
      value:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "Sales/m²"
      comparison:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "Sales/m²_comp"
    comment: "BL3: {comparison:.0f}€/m²"
    source: "Mercury R12M "
    id: 23
  ,
    name: "Average basket"
    type: "value"
    value: "{value:.0f}"
    unit: "€"
    badge: "bullet"
    sentiment: true
    evolution: 'sign'
    __data__:
      value:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "Average basket"
      comparison:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "Average basket_comp"
    comment: "BL3: {comparison:.0f}€"
    source: "Bank Data 2014"
    id: 24
  ,
    name: "Purchase conversion rate"
    type: "value"
    value: "{value:.1f}"
    unit: "%"
    badge: "bullet"
    sentiment: true
    evolution: 'sign'
    __data__:
      value:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "Purchase conversion rate"
      comparison:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "Purchase conversion rate_comp"
    comment: "BL3: {comparison:.1f}%"
    source: "wifi & Bank Data 2014"
    id: 25
  ,
    name: "Sales / Net Shopping Hours "
    type: "value"
    value: "{value:.0f}"
    unit: "€/h"
    badge: "bullet"
    sentiment: true
    evolution: 'sign'
    __data__:
      value:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "Sales/NSH"
      comparison:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "Sales month/ Net Shopping Hours_comp"
    comment: "BL3: {comparison:.0f}€/h"
    source: "Mercury & wifi, Sept 2015"
    id: 26
   ]
,
  name: "Financial data"
  kpis: [
    name: "MGR/m²"
    type: "value"
    value: "{value:.0f}"
    unit: "€"
    badge: "bullet"
    sentiment: true
    evolution: 'sign'
    __data__:
      value:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "MGR/m²"
      comparison:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "MGR/m²_comp"
    comment: "BL3: {comparison:.0f}€"
    source: "Mercury R12M, Sept 2015"
    id: 27
  ,
    name: "SBR/m²"
    type: "value"
    value: "{value:.0f}"
    unit: "€"
    __data__:
      value:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "SBR/m² (€/m²)"
    source: "Mercury R12M, Sept 2015"
    id: 28
  ,
    name: "Service charges/m²"
    type: "value"
    value: "{value:.0f}"
    unit: "€"
    __data__:
      value:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "Service charges/m² (€/m²)"
    source: "Mercury R12M, Sept 2015"
    id: 29
  ,
    name: "OCR"
    type: "value"
    value: "{value:.1f}"
    unit: "%"
    badge: "bullet"
    sentiment: true
    evolution: 'sign'
    __data__:
      value:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "OCR"
      comparison:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "OCR_comp"
    comment: "BL3: {comparison:.1f}%"
    source: "Mercury R12M, Sept 2015"
    id: 30
  ,
    name: "ERV/m²"
    type: "value"
    value: "{value:.0f}"
    unit: "€"
    badge: "bullet"
    sentiment: true
    evolution: 'sign'
    __data__:
      value:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "ERV/m²"
      comparison:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "ERV/m²_comp"
    comment: "BL3: {comparison:.0f}€"
    source: "Mercury R12M, Sept 2015"
    id: 31
  ,
    name: "Reversionary Potential"
    type: "value"
    value: "{value}"
    unit: "€"
    __data__:
      value:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "Reversionary Potential"
    source: "Mercury R12M, Sept 2015"
    id: 32
   ]
,
  name: "Attractivity"
  kpis: [
    name: "Shopfront Traffic"
    type: "line"
    chartOptions:
      value: "Shopfront traffic (customer visit count)"
      date: "month"
      data:
        query:
          domain: "tenants_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
          'Shopfront traffic (customer visit count)': $ne: null

    unit: ""
    id: 1
    source: "wifi, Monthly "
  ,
    name: "% of total SC traffic"
    type: "line"
    chartOptions:
      value: "Shopfront traffic as % of total SC traffic"
      date: "month"
      data:
        query:
          domain: "tenants_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
          'Shopfront traffic as % of total SC traffic': $ne: null
        precision:
          'Shopfront traffic as % of total SC traffic': '.1%'

    value: "{value:.0%}"
    unit: ""
    id: 2
    source: "wifi, Monthly "
  ,
    name: "Instore Traffic"
    value: "{value:.0f}"
    unit: ""
    type: "line"
    chartOptions:
      value: "Instore traffic"
      date: "month"
      data:
        query:
          domain: "tenants_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
          'Instore traffic': $ne: null

    comment: "BL3: {value:.0f}"
    source: "wifi, Sept 2015"
    id: 3
  ,
    name: "Shopfront conversion rate"
    type: "value"
    value: "{value:.1f}"
    unit: "%"
    badge: "bullet"
    sentiment: true
    evolution: 'sign'
    __data__:
      value:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "Shop Front Conversion"
      comparison:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "Shop Front Conversion_comp"
    comment: "BL3: {comparison:.1f}%"
    source: "wifi, Sept 2015"
    id: 4
  ,
    name: "Dwell time"
    type: "value"
    value: "{value:.0f}"
    unit: "min"
    badge: "bullet"
    sentiment: true
    evolution: 'sign'
    __data__:
      value:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "Dwell time"
      comparison:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "Dwell time_comp"
    comment: "BL3: {comparison:.0f}min"
    source: "wifi, Sept 2015"
    id: 5
  ,
    name: "Visit Frequency"
    type: "value"
    value: "{value:.1f}"
    unit: " /month"
    badge: "bullet"
    sentiment: true
    evolution: 'sign'
    __data__:
      value:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "Visit frequency"
      comparison:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "Visit frequency_comp"
    comment: "BL3: {comparison:.1f}/month"
    source: "wifi, Monthly avg R12M"
    id: 6
  ,
    name: "% of >20min visitors"
    type: "value"
    value: "{value:.0%}"
    unit: ""
    badge: "bullet"
    sentiment: true
    evolution: 'sign'
    __data__:
      value:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "% of >20 min visitors"
      comparison:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "% of >20 min visitors_comp"
    comment: "BL3: {comparison:.0%}"
    source: "wifi, Sept 2015"
    id: 7
  ,
    name: "% of first time visitors"
    type: "value"
    value: "{value:.0%}"
    unit: ""
    badge: "bullet"
    sentiment: true
    evolution: 'sign'
    __data__:
      value:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "% of first time visitors"
      comparison:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "% of first time visitors_comp"
    comment: "BL3: {comparison:.0%}"
    source: "wifi, Sept 2015"
    id: 8
   ]
,
  name: "Destination Traffic and Synergy"
  kpis: [
    name: "% of Destination traffic"
    type: "value"
    id: 0
    value: "{value:.0%}"
    unit: ""
    badge: "bullet"
    sentiment: true
    evolution: 'sign'
    __data__:
      value:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "% of exclusive traffic"
      comparison:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "% of exclusive traffic_comp"
    comment: "BL3: {comparison:.0%}"
    source: "wifi, Sept 2015"
    id: 9
  ,
    name: "% of Exclusive traffic"
    type: "value"
    value: "{value:.0%}"
    unit: ""
    badge: "bullet"
    sentiment: true
    evolution: 'sign'
    __data__:
      value:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "% of visitors visiting mainly the tenant"
      comparison:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "% of visitors visiting mainly the tenant_comp"
    comment: "BL3: {comparison:.0%}"
    source: "wifi, Sept 2015"
    id: 10
  ,
    name: "% visiting mainly the tenant"
    type: "value"
    value: "{value:.0%}"
    unit: ""
    badge: "bullet"
    sentiment: true
    evolution: 'sign'
    __data__:
      value:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "% of first time visitors"
      comparison:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "% of first time visitors_comp"
    comment: "BL3: {comparison:.0%}"
    source: "wifi, Sept 2015"
    id: 11
  ,
    name: "% of Frequent visitors"
    type: "value"
    value: "{value:.0%}"
    unit: ""
    badge: "bullet"
    sentiment: true
    evolution: 'sign'
    __data__:
      value:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "% of frequent visitors"
      comparison:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "% of frequent visitors_comp"
    comment: "BL3: {comparison:.0%}"
    source: "wifi, Sept 2015"
    id: 12
  ,
    name: "Avg. number of visited tenants"
    type: "value"
    value: "{value:.1f}"
    unit: ""
    badge: "bullet"
    sentiment: true
    evolution: 'sign'
    __data__:
      value:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "Average number of store visits"
      comparison:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "Average number of store visits_comp"
    comment: "BL3: {comparison:.1f}"
    source: "wifi, Sept 2015"
    id: 13
  ,
    name: "Top 5 interaction brands"
    type: "text"
    value: "{{connected_retailer_1}} {{connected_retailer_2}} {{connected_retailer_3}} {{connected_retailer_4}} {{connected_retailer_5}}"
    source: "wifi, Sept 2015"
    id: 14
   ]
,
  name: "Sociodemographic profile of clients"
  kpis: [
    name: "Part of Women"
    type: "value"
    value: "{value:.0%}"
    unit: ""
    badge: "bullet"
    __data__:
      value:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "% of women"
      comparison:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "% of women_comp"
    comment: "BL3: {comparison:.0%}"
    source: "Bank data 2014"
    id: 15
  ,
    name: "Part of CSP+"
    type: "value"
    value: "{value:.0%}"
    unit: ""
    badge: "bullet"
    __data__:
      value:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "% of CSP+"
      comparison:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "% of CSP+_comp"
    comment: "BL3: {comparison:.0%}"
    source: "Bank data 2014"
    id: 16
  ,
    name: "Median age"
    type: "value"
    value: "{value:.0f}"
    unit: ""
    badge: "bullet"
    __data__:
      value:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "Median age"
      comparison:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "Median age_comp"
    comment: "BL3: {comparison:.0f}"
    source: "Bank data 2014"
    id: 17
  ,
    name: "Median income"
    type: "value"
    value: "{value:.0f}"
    unit: " €"
    badge: "bullet"
    __data__:
      value:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "Median income"
      comparison:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "Median income_comp"
    comment: "BL3: {comparison:.0f}€"
    source: "Bank data 2014"
    id: 18
   ]
,
  name: "Awareness and Quality"
  kpis: [
    name: "Awareness rate"
    type: "value"
    value: "{value:.0%}"
    unit: ""
    badge: "bullet"
    sentiment: true
    evolution: 'sign'
    __data__:
      value:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "Awareness rate"
      comparison:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "Awareness rate_comp"
    comment: "BL3: {comparison:.0%}"
    source: "Coté Clients 2014"
    id: 19
  ,
    name: "SHop challenge score"
    type: "value"
    value: "{value:.0f}"
    unit: ""
    badge: "bullet"
    sentiment: true
    evolution: 'sign'
    __data__:
      value:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "Shop challenge score"
      comparison:
        query:
          domain: "last_month_kpis"
          center: "{{center}}"
          retailer_name: "{{retailer_name}}"
        field: "Shop challenge score_comp"
    comment: "BL3: {comparison:.0f}"
    source: "Soft Computing 2014"
    id: 20
   ]
 ]