entityName: "{{ dashboard_entity_name }}"
id: "{{ index }}"
report: "{{ report_id }}"
default: "{{ default }}"

categories: [
  name: "Métriques"
  kpis: [
    name: "Indice de joie"
    type: 'value-dynamic'
    value: "value"
    unit: ""
    badge: 'bullet'
    sentiment:
      value:
        domain: [6]
        range: ['negative','positive']
    precision:
      value: '.0f'
    data:
      value:
        query:
          domain: "one_report_multi_dash_data"
          type_lieu: "Village"
          type_metric: "happiness"
        field: "metric"
    source: "2015, source Smart Toucan"
    id: 0
  ,
    name: "Age moyen"
    type: 'value-dynamic'
    value: "value"
    unit: " ans"
    badge: 'bullet'
    sentiment:
      value:
        domain: [50]
        range: ['positive','negative']
    precision:
      value: '.0f'
    data:
      value:
        query:
          domain: "one_report_multi_dash_data"
          type_lieu: "Village"
          type_metric: "age_moyen"
        field: "metric"
    source: "2015, source Smart Toucan"
    id: 1
  ]
]
