entityName: "{{ csm }}"
id: "{{ index }}"
report: "{{ report_id }}"
default: "{{default | bool}}"

categories: [
  name: "Vaness"
  kpis: [
    name: "Metric"
    type: 'valuedynamic'
    value: "{{customers}}"
    unit: "clients"
    slide: 32204
  ]
]
