
'DATA_SOURCE_DIR': 'data_sources'
'MONGO_INDEXES': [
  'domain'
  [
    'domain'
    'subdomain'
  ]
]
DASHBOARDS: [
  query:
    domain: "dashboards"
    default: 1.0
  report: "country"
  template: "dashboards"
,
  query:
    domain: "dashboards"
  report: "country"
  template: "dashboards-division"
]
'REPORTS': [
  query:
    domain: "dashboards"
    default: 1.0
  template: "report"
]
'DATA_SOURCES': [
  {
    domain: "dashboards"
    type: "excel"
    file: "dashboards.xls"
    sheetname: "Data"
  }

  {
    'spreadsheet_id': '1LknlywNja_YVogys_YgbfulaKp7d1xcAtAKsgIgmkL8'
    'sheetname': 'growth'
    'domain': 'growth'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1LknlywNja_YVogys_YgbfulaKp7d1xcAtAKsgIgmkL8'
    'sheetname': 'growth-slave'
    'domain': 'growth-slave'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1LknlywNja_YVogys_YgbfulaKp7d1xcAtAKsgIgmkL8'
    'sheetname': 'top-10'
    'domain': 'top-10'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1LknlywNja_YVogys_YgbfulaKp7d1xcAtAKsgIgmkL8'
    'sheetname': 'division'
    'domain': 'division'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1LknlywNja_YVogys_YgbfulaKp7d1xcAtAKsgIgmkL8'
    'sheetname': 'category-summary'
    'domain': 'category-summary'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1LknlywNja_YVogys_YgbfulaKp7d1xcAtAKsgIgmkL8'
    'sheetname': 'heatmap'
    'domain': 'heatmap'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1LknlywNja_YVogys_YgbfulaKp7d1xcAtAKsgIgmkL8'
    'sheetname': 'leadership'
    'domain': 'leadership'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1LknlywNja_YVogys_YgbfulaKp7d1xcAtAKsgIgmkL8'
    'sheetname': 'versus'
    'domain': 'versus'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1LknlywNja_YVogys_YgbfulaKp7d1xcAtAKsgIgmkL8'
    'sheetname': 'share'
    'domain': 'share'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1LknlywNja_YVogys_YgbfulaKp7d1xcAtAKsgIgmkL8'
    'sheetname': 'sparklines'
    'domain': 'sparklines'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1ahKMNCGrRmPuBylM0lKyYzQ5Kcr4JouJ1oUOoudiYTM'
    'sheetname': 'average'
    'domain': 'average'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1ahKMNCGrRmPuBylM0lKyYzQ5Kcr4JouJ1oUOoudiYTM'
    'sheetname': 'budget-evolution'
    'domain': 'budget-evolution'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1ahKMNCGrRmPuBylM0lKyYzQ5Kcr4JouJ1oUOoudiYTM'
    'sheetname': 'top-network'
    'domain': 'top-network'
    'type': 'google_spreadsheet'
  }
  {
    'domain': 'commentary'
    'type': 'csv'
    file:'commentary.csv'
  }
  {
    'domain': 'my_sparklines'
    'type': 'csv'
    file:'sparklines.csv'
  }
]
