
'slides': [
  {
    'id': 0
    'level': 0
  }
  {
    'title': 'Performance'
    'id': 10
    'level': 1
  }

  {
    'title': 'Market'
    'id': 30
    'level': 1
  }
  {
    'title': 'Versus'
    'id': 20
    'level': 1
  }
  {
    'title': 'Sales Realized vs Target'
    'level': 3
    'parent_id': 10
    'filters': 'bottom-right':
      'on': 'breakdown'
      'type': 'buttons'
    'commentary': 'Sales Real vs Target by brand and by market'
    'id': 20600
    'chartOptions':
      'filters': 'upper-right':
        'on': 'Filtre1'
        'type': 'dropdown'
      'target': 'target'
      'sentiment': 'value':
        'domain': [ '0.8*target','target' ]
        'range': [
          'negative'
          'warning'
          'positive'
        ]
      'xpack': 'segment'
      'ypack': 'zone'
      'value': 'value'
      'units':
        'variation': 'pt'
        'value': '%'
      'meta': []
      'variation': 'variation'
      'chartType': 'heatmap'
      'y': 'pays'
      'x': 'voiture'
      'data': 'query': 'domain': 'heatmap'
      'legend': true
  }
  {
    'title': 'Trends'
    'level': 3
    'charts': [
      {
        'style': 'secondary'
        'value': 'value'
        'date': 'date'
        'crossfilter':
          'on': 'date'
          'datasets': [ 1 ]
        'groups': 'label'
        'cr': 4
        'units':
          'date': ' '
          'value': ' M€'
        'chartType': 'linechart'
        events: [
          {
            date: "05/2016"
            label: "Luxury brand"
            name: "New collection launched"
          }]
        'data':
          'query':
            'domain': 'growth'
          date:
            selector: "date"
            format: "%m/%Y"
        'id': 0
        'size': 0.25
      }
      {
        'packs': 'packs'
        'average': ' '
        'value': 'value'
        'label': 'label'
        'packNames': true
        'units': 'value': '%'
        'chartType': 'leaderboardCenteredAverage'
        # 'averageText': '0%'
        'data':
          'query':
            'domain': 'growth-slave'
          date:
            selector: "date"
            format: "%m/%Y"
          'precision':
            'value': ".1f"
          'order':
            'by': 'packs'
            'custom': [
              'Total'
              'Fragrances'
              'Skincare'
              'Makeup'
            ]
        'id': 1
        'size': 0.75
      }
    ]
    'parent_id': 10

    'id': 101
  }

  {
    'title': 'Value share growth'
    'level': 3
    'parent_id': 10
    'commentary': 'This chart allows you to understand wether your value share <br> by products is increasing or decreasing'
    'id': 102
    'chartOptions':
      'value': 'value'
      'label': 'label'
      'groups': "groups"
      'units': 'value': ' %'
      'chartType': 'waterfallchart'
      'data':
        'query':
          'domain': 'top-10'
        precision:
          value: ",.2f"

  }
  {
    'title': 'Top division'
    'level': 3
    'parent_id': 10
    'filters': 'bottom-right':
      'on': 'breakdown'
      'type': 'buttons'
    'commentary': 'Ranking of division by value and value share'
    'id': 201
    'chartOptions':
      'sort': 'desc'
      'value': 'value'
      'label': 'label'
      'variationLegend': 'Variation vs last month'
      'variation': 'evolution'
      sparklines:
        orderDates: true
        value: "value"
        units: value: "M€"
        legend: "12 months variation"
        joins: [
          "label"
        ]
        date: "date"
        data:
          query:
            domain: "my_sparklines"
      'filters': 'upper-middle':
        'on': 'upper'
        'type': 'buttons'
      'units':
        'evolution': ' points'
        'value': [
          {
            'where': 'breakdown': 'Value'
            'unit': ' M€'
          }
          {
            'where': 'breakdown': 'Value Share'
            'unit': ' %'
          }
        ]
      'chartType': 'horizontalBarchart'
      'data':
        'query': 'domain': 'division'

  }

  {
    level: 3
    title: "Market share"
    parent_id: 30
    id: 10101
    # filters:
    #   "bottom-right":
    #     on: "breakdown"
    #     type: "buttons"
    chartOptions:
      data:
        query:
          domain: "share"
        date:
          selector: 'date'
          format: '%m/%Y'

      chartType: "linechart"

      units:
        value: "%"
      events: [
        {
          date: "07/2016"
          label: "Product 3"
          name: "Stop campaign"
        }
        {
          date: "09/2016"
          label: "Product 1"
          name: "New product launch"
        }
      ]
      value: "value"
      groups: "group"
      date: "date"
      legend: true
      # tickFormat: "%b"
  }
  {
    'title': 'Investments'
    'level': 3
    'parent_id': 30
    'filters': 'bottom-right':
      'on': 'type'
      'type': 'buttons'
    'kpi': 'unit': ' %'
    'id': 35201
    'chartOptions':
      'color': 'evolution'
      'label': 'label'
      'cy': 'R&D'
      'cx': 'Marketing'
      'drill':
        'levelsOrder': [
          'main'
          'sub'
        ]
        'group': 'drillGroup'
        'level': 'drillLevel'
      'units':
        'cy': 'M€'
        'cx': 'M€'
        'r': 'M€'
      'chartType': 'bubblechart'
      quadrants:
        x: 20
        y: 80
        labels: ['Perte de vitesse','Trajectoire d\'excellence','Décrochage','Zone d\'ascencion']
        sentiments: ['warning','positive','negative','warning']
      'r': 'Revenues'
      'data': 'query': 'domain': 'leadership'
      'legend': true
  }
  {
    'title': 'Versus'
    'level': 3
    'parent_id': 20
    'filters': 'bottom-right':
      'on': 'breakdown'
      'type': 'buttons'
    'recommendation':
      'advert': 'Info'
      'content': 'On Fragrances and Makeup a new competitor appeared that will challenge the incumbent'
    'commentary': 'Key products\' value share compared to competition'
    'id': 301
    'chartOptions':
      'sort': 'desc'
      'groups': 'groups'
      'packs': 'packs'
      'variation': 'evolution'
      'label': 'label'
      'packNames': true
      'variationLegend': 'Variation vs last month'
      'value': 'value share'
      'filters': 'upper-middle':
        'on': 'upper'
        'type': 'buttons'
        'order': 'custom': [
          'Women'
          'Men'
        ]
      'units':
        'evolution': ' points'
        'value share': [
          {
            'where': 'breakdown': 'value'
            'unit': ' K€'
          }
          {
            'where': 'breakdown': 'value share'
            'unit': ' %'
          }
        ]
      'chartType': 'horizontalBarchart'
      'data':
        'query': 'domain': 'versus'
        'precision': evolution: ",.2f"
  }
]
'sharingOptions': true
'slidePdfEnabled': true
'offline': 'all'
'home': 'skipToReport': 0
'comments': true
'settings': 'comparison':
  'default': 'Par défaut'
  'values': [
    'Par défaut'
    'Entity A'
    'Entity B'
    'Entity C'
  ]
  'description': 'Sur tous les écrans de comparaison, comparer avec :'
