name: "Products insights"
entityName: "{{ continent }}"
id: "{{ index }}"
date: "October 2015"
background:
  assetName: 'bg-1'
  overlay: false
execsumTitle: "Easy market research"

dashboards:
  search: "Search by country"

