'entityName': '{{ zone }}'
'entityGroup': '{{ group }}'

id: "{{ index }}"
'execsumNote': 'made with<strong><3</strong>by Toucan Toco team'
# 'dashboards':
#   'search': 'Search by division'
search:
  'placeholder':'Search by division or country'

'background':
  assetName: "bg-1"
  overlay: false

date:
  id: "my_date_selector"
  type: "dropdown"
  query:
    domain: 'my_dates_data'
  fields: ['my_periods']
  default:'July-2017'

'execsumTitle': 'Market insights'
